.input-pholder {
  position: relative;
  height:37px;
  border:solid 1px $blue;
  border-radius: 3px;
  padding:5px 5px 4px 10px;

  background: white;

  &:not(.mobile-select) {
    box-shadow: $input-shadow;
  }
  &.focus {
    box-shadow: $input-shadow-hover;
    border-color:$green;
  }
  &.p0 {
    padding:0;
  }

  &.validate-error {
    border-color:$red;
    box-shadow: inset 0 4px 6px rgba($red, 0.14), 0px 0px 6px 2px rgba($red, .1);
    &.focus {
      border-color:$red;
      box-shadow: inset 0 4px 6px rgba($red, 0.14), inset 0 0 0 1px $red, 0px 0px 6px 2px rgba($red, .1);
    }

    &:hover, &.focus {
      .error-message {
        opacity: 1;
        @include transform(translateY(-10px));
      }
    }
  }

  .error-message {
    position: absolute;
    border-radius: 3px;
    padding:4px;
    background: $red;
    color:white;
    text-align: center;
    bottom:100%;
    left:0;
    right:0;
    pointer-events: none;
    opacity:0;
    @include transition(opacity 0.2s, transform 0.1s);
    &:after {
      position: absolute;
      top:100%;
      left:50%;
      margin-left:-10px;
      width:20px;
      height:5px;
      content: '';
      background: url(../i/tail-red.svg);
    }
  }

  input, select {
    &[type=text], &[type=number], &[type=password], &[type=email] {
      background: none;
      border:none;
      border-radius: 0;
      outline:none !important;
      padding:0;
      margin:0;
      box-shadow: none;
    }
    &:focus {
      +.pholder {
        top:20%;
        font-size: 10px;
        color:$grey;
        font-weight: normal;
      }
    }
  }

  select {
    background: none;
    border:none;
    border-radius: 0;
    outline:none !important;
    -webkit-appearance:none;
    height:auto;
    @include flex(1);
    color:$blue;
    //font-weight: bold;
    padding:0;
    margin:0;
    +.pholder {
      //color:$blue;
      //font-weight: bold;
    }
  }

  &.mobile-select {
    box-shadow: $input-shadow;

    &.focus {
      box-shadow: inset 0 0 0 1px $green, $input-shadow-hover;
    }
    &:after {
      position: absolute;
      content: '';
      top:50%;
      right:9px;
      background: url(../i/arrow-down.png);
      width:12px;
      height:8px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top:1px;
    }
  }

  .selectric {
    border: none;
    background: none;
  }

  &.not-empty .pholder {
    top:20%;
    font-size: 10px;
    color: #b4b4b4;
  }

  .pholder {
    color: #707070;
    position: absolute;
    top:50%;
    left:10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    @include transition(top 0.1s ease-in-out, font-size 0.1s ease-in-out, color 0.1s ease-in-out);
  }
}


div.input-pholder {
  //padding-bottom: 2px;
}

@mixin revealer {
  @include common-button();

  text-transform: none;
  color:black;
  text-shadow: none;
  box-shadow: inset 0 0 0 1px $blue;
  height:35px;
  line-height: 35px;
  text-align: left;
  padding-left:10px;
  padding-right: 30px;
  border-radius: 5px;

  &.revealer-grey {
    background: white;
    box-shadow: inset 0 0 0 1px $grey;
    color:$grey;
    &:after {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }


  &:not(.shown) {
    @include grey-gradient();
    &:hover {
      @include grey-hover-gradient();
    }
  }
  &.shown {
    @include grey-gradient();
  }

  &.revealer-white {
    height: 37px;
    line-height: 37px;
    &:not(.shown) {
      border-radius: 3px;
      background: #ffffff;
      box-shadow: inset 0 0 0 1px $blue, $input-shadow;
    }
    &.shown {
      box-shadow: inset 0 0 0 2px $green, $input-shadow-hover;
    }
  }

  &:after {
    content: '';
    background: url(../i/arrow-down.png);
    width:12px;
    height:8px;
    position: absolute;
    right:10px;
    top:50%;
    margin-top:-4px;
    @include transition(transform 0.3s ease-in-out);
    @include backface-visibility(hidden);
  }

  &.flight-visible, &.shown {
    &:after {
      @include transform(rotate(180deg));
    }
  }

  &.arrow-top {
    &:after {
      @include transform(rotate(180deg));
    }

    &.flight-visible, &.shown {
      &:after {
        @include transform(rotate(0));
      }
    }
  }

  z-index: 1;

  &.ws-h30 {
    height:30px;
    line-height: 30px;
  }
}

.revealer {
  @include revealer();
}

.revealer {
  cursor:pointer;
}

.gender {
  border-radius: 20px;
  color:$blue;
  &:not(.gender-my) {
    font-size: 20px;
  }

  label {
    @include transition(color 0.1s ease-in-out);
  }

  width:90px;
  input[type=radio] {
    &:checked {
      +label {
        //@include blue-gradient();
        color:white;
        border-radius: 20px;
      }
    }
  }

  /*&.gender-my {
    border-radius: 2px;
    overflow: hidden;
    input[type=radio] {
      &:checked {
        +label {
          border-radius: 0px;
        }
      }
    }
  }*/

  .gender-slider {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width:50%;
    @include blue-gradient();
    border-radius: 20px;
    @include transition(transform 0.2s ease-in-out);
  }

  &.gender1 {
    .gender-slider {
      @include transform(translateX(0));
    }
  }

  &.gender2 {
    .gender-slider {
      @include transform(translateX(44px));
    }
  }
}

.selectric.countrycode {
  background: none;
  border:none;
  height:auto;
  -webkit-appearance:none;
  outline: none !important;
}

label:focus {
  background: #ff0000;
}

.input-pholder:not(.not-empty) {
  .mobile-select {
    display: none;
  }
}


.mobile-select {
  .selectric {
    .label {
      height:20px;
      line-height: 20px;
    }
  }
}

.passenger-pic {
  width:16px;
  >div {
    position: absolute;
    left:50%;
    top:50%;
    @include transform(translateX(-50%) translateY(-50%));
  }
}

.passenger-data {
  &.form-group {
    padding-top: 0;
  }
  &:after {
    position: absolute;
    top:10px;
    bottom:0;
    width:9px;
    right:-20px;
    content: '';
  }
}

.border-split {
  >div {
    +div {
      border-top:solid 1px #c6c6c6;
      margin-top:5px;
      padding-top:5px;
    }
  }

  &.bs15 {
    >div {
      +div {
        margin-top:15px;
        padding-top:15px;
      }

    }
  }
}


.aeroexpress-timetable {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: visible;

  &::-webkit-scrollbar {
    width:10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius:10px;
    @include blue-gradient();
  }
}

.aeroexpress-timetable-wrapper:before {
  content: '';
  position: absolute;
  width:2px;
  top:0;
  bottom:0;
  background: #bdbdbd;
  right:4px;
}

.gift {
  &:before {
    position: absolute;
    top:50%;
    left:-0.4em;
    height:4em;
    width:4em;
    content:'';
    background: yellow;
    border-radius: 2em;
    @include transform(translateY(-50%));
  }
  &:after {
    position: absolute;
    left:100%;
    background:url(../i/q.png);
    content:'';
    background-size: 100% auto;
    top:-0.5em;
    width:24px;
    height:30px;
  }
}

@mixin ebebeb() {
  background: #f3f3f3;
  margin-top:-4px;
  padding-top:4px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: inset 0 0 0 1px #e0e0e0;
}

.ebebeb {
  @include ebebeb();
}

#bron-alternate {
  background: #ffffff;
  //position: absolute;
  //position: fixed;
  z-index: 200;
  padding:20px 0;
  border:solid 1px $blue;
  border-radius: 5px;
  //@include experimental-value(top, calc(100% + 2px));
  //@include experimental-value(width, calc(200% + 20px));
  .max-width {
    //padding:0;
  }
}

.payment-image {
  height:60px;
}

.gift-circle {
  width:51px;
  height:51px;
  background: url(../i/1000.png);
}

.gift-question {
  width:33px;
  height:33px;
  border-radius: 52px;
  border:solid 1px black;
  background: #ebebeb;
  color:black;
  &:hover {
    text-decoration: none;
  }
}

.bigdig {
  min-width:2.2em;
  margin-left:-0.1em;
  letter-spacing: -0.03em;
}
.bigdigflexb {
  @include flex(0 1 160px);
}
.bigdigflex {
  @include flex(0 1 130px);
}

.bron {
  #top-search-form {
    z-index: 100;
  }

  #footer {
    padding:7px 0;
  }
}

.aeroexpress-train {
  width:21px;
  margin-right:3px;
  position: relative;
  &:after {
    position: absolute;
    top:50%;
    left:0;
    width:21px;
    height:21px;
    @include transform(translateY(-50%));
    content:'';
    background: url(../i/aeroexpress-train.png) center center no-repeat;
  }
}

.aeroexpress-plane {
  margin-right:7px;
  width:34px;
  position: relative;
  &:after {
    position: absolute;
    top:50%;
    left:0;
    width:34px;
    height:23px;
    @include transform(translateY(-50%));
    content:'';
    background: url(../i/aeroexpress-plane.png) center center no-repeat;
  }
}

.response-photo {
  width:76px;
  height:76px;
  overflow: hidden;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
  margin:0 auto;
}

.bigradio {
  height:16px;
  input[type=radio] {
    display: none;

    +span {
      width:16px;
      height:16px;
      margin:0 auto;
      @include grey-gradient();
      border-radius: 20px;
      display: block;
      border:solid 1px #777777;
      &:after {
        position: absolute;
        top:50%;
        left:50%;
        content: '';
        display: block;
        width:0px;
        height:0px;
        //@include transform(translateX(-50%) translateY(-50%));
        margin:0;
        border-radius: 10px;
        background: black;
        @include transition(width 0.2s, height 0.2s, margin 0.2s);
      }
    }

    &:checked {
      +span {
        &:after {
          margin:-4px 0 0 -4px;
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}

.bigcheckbox {
  height:20px;
  position: relative;
  input[type=checkbox] {
    display: none;

    +span {
      width:20px;
      height:20px;
      margin:0 auto;
      @include grey-active-gradient();
      border-radius: 3px;
      display: block;
      border:solid 1px #777777;
      font: normal normal normal 14px/1 FontAwesome;
      &:after {
        position: absolute;
        top:50%;
        left:50%;
        @include transform(translateX(-50%) translateY(-50%));
        color:$green;
        opacity:0;
        @include transition(opacity 0.2s);
        content: "\f00c";
      }
    }

    &:checked {
      +span {
        &:after {

          opacity:1;
        }
      }
    }
  }
}

.is-sticky {
  .col-title {
    z-index: 199;
  }
}

.required {
  &:before {
    position: absolute;
    left:100%;
    top:0;
    content: '';
    width:10px;
    height: 10px;
    background: url(../i/mandatory.png) left center no-repeat;
  }
}

.bron-fb-txt {
  padding:5px 10px;
  margin-right:10px;
  background: #f3f3f3;
  border-radius: 5px;
  &:before {
    position: absolute;
    right:100%;
    top:50%;
    margin-top:-11px;
    content: '';
    width:13px;
    height: 22px;
    background: url(../i/resp-plav.png) right center no-repeat;
  }
}

.feedback_text {
  height:3.7em;
  overflow: hidden;
}

.glow {
  box-shadow: 0 0 10px 1px rgba($blue,0.7);
}

.whywepopup {
  padding:0 20px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(white, 0.8);
  z-index: 2000;
  padding-top:40px;
  padding-bottom: 40px;
  overflow-x: auto;

  #whywe {
    border-top:none;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;

  }

  .max-width {
    max-width: 950px;
  }
}

.wwpc {
  position: absolute;
  top:5px;
  right:0;
  .modalclose {
    background: none;
    position: relative;
    width:50px;
    height:50px;
  }
}

@mixin scrollingcontent{
  position: absolute;
  top:-5px;
  bottom:-5px;
  left:-5px;
  right:-5px;
  content: '';
  border:solid 1px;
  border-color: inherit;
  border-radius: 5px;
  pointer-events: none;
}

.scrollingcontent.current {
  &.passenger-data {
    &:before {
      @include scrollingcontent();
//      top:5px;
    }
  }
  &:not(.passenger-data) {
    &:after {
      @include scrollingcontent();
    }
  }
}

.thousand-popup {
  position: absolute;
  top:4px;
  left:0;
  right:0;
  bottom:0;
  background:rgba(255, 255, 255, 0.9);
}