a {
  cursor: pointer;
}

.f {
  @include display-flex();
}

.if {
  @include display-flex(inline-flex);
}

.fi {
  display: -webkit-flex !important;
  display: flex !important;
}

.hcen {
  @include justify-content(center);
}


.hrig {
  @include justify-content(flex-end);
}

.vcen {
  @include align-items(center);
}

.stretch {
  @include align-items(stretch);
}

.flex1 {
  @include flex(1);
}

.w {
  @include flex-wrap(wrap);
}

.d {
  @include justify-content(space-between);
}

.around {
  @include justify-content(space-around);
}



.vtop {
  @include align-items(flex-start);
}

.vbot {
  @include align-items(flex-end);
}

.r {
  @include flex-direction(row);
}

.c {
  @include flex-direction(column);
}

.cr {
  @include flex-direction(column-reverse);
}

@media all and (min-width: 800px) {
  .ws-tac {
    text-align: center;
  }
  .ws-ttu {
    text-transform: uppercase;
  }
  .ws-f {
    @include display-flex();
  }
  .ws-d {
    @include justify-content(space-between);
  }
  .ws-r {
    @include flex-direction(row);
  }
  .ws-hcen {
    @include justify-content(center);
  }
  .ws-hrig {
    @include justify-content(flex-end);
  }

  .ws-ib {
    display: inline-block;
  }

  .ws-vcen {
    @include align-items(center);
  }
  .ws-rr {
    @include flex-direction(row-reverse);

    @for $i from 2 through 200 {
      &.ws-split#{$i} {
        > *:not(:first-child) {
          padding-right: #{$i*1/2}px;
          padding-left: 0;
        }
        > *:not(:last-child) {
          padding-left: #{$i*1/2}px;
          padding-right: 0;
        }
      }

      &.ws-space#{$i} {
        > *:not(:first-child) {
          margin-left: 0;
          margin-right: #{$i*1/2}px;
        }
        > *:not(:last-child) {
          margin-left: #{$i*1/2}px;
          margin-right: 0;
        }
      }
    }
  }
  .ws-c {
    @include flex-direction(column);
  }
  .ws-cr {
    @include flex-direction(column-reverse);
  }
  .ws-flex1 {
    @include flex(1);
  }

  .ws-bybounds {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}


@media all and (max-width: 800px) {
  body {
    min-width: 0;
  }
  .ss-r {
    @include flex-direction(row);
  }
  .ss-c {
    @include flex-direction(column);
  }

  .ss-nd {
    display: none;
  }

  @for $i from 1 through 90 {
    .ss-fz#{$i} {
      font-size: #{$i}px;
    }
    .ss-rounded#{$i} {
      border-radius: #{$i}px;
    }
  }
}

@for $i from 1 through 90 {
  .fz#{$i} {
    font-size: #{$i}px;
  }
  .rounded#{$i} {
    border-radius: #{$i}px;
  }
}

@for $i from 1 through 40 {
  .mt#{$i} {
    margin-top: #{$i}px;
  }

  .mb#{$i} {
    margin-bottom: #{$i}px;
  }

  .ml#{$i} {
    margin-left: #{$i}px;
  }

  .mr#{$i} {
    margin-right: #{$i}px;
  }

  .p#{$i} {
    padding: #{$i}px;
  }
}

@for $i from 1 through 200 {
  .split#{$i}:not(.c):not(.ws-c):not(.ss-c) {
    >*:not(:first-child) {
      padding-left:#{$i*1/2}px;
    }
    >*:not(:last-child) {
      padding-right:#{$i*1/2}px;
    }
  }

  .space#{$i}:not(.c):not(.ws-c):not(.ss-c) {
    >*:not(:first-child) {
      margin-left:#{$i*1/2}px;
    }
    >*:not(:last-child) {
      margin-right:#{$i*1/2}px;
    }
  }

  .c {
    &.split#{$i} {
      >*:not(:first-child) {
        padding-top:#{$i*1/2}px;
      }
      >*:not(:last-child) {
        padding-bottom:#{$i*1/2}px;
      }
    }

    &.space#{$i} {
      >*:not(:first-child) {
        margin-top:#{$i*1/2}px;
      }
      >*:not(:last-child) {
        margin-bottom:#{$i*1/2}px;
      }
    }
  }

  .lh#{$i} {
    line-height:#{$i*1}px;
  }
}

@media all and (min-width:800px) {
  @for $i from 1 through 100 {
    .ws-mt#{$i} {
      margin-top: #{$i}px;
    }

    .ws-mb#{$i} {
      margin-bottom: #{$i}px;
    }

    .ws-p#{$i} {
      padding: #{$i}px;
    }
  }

  @for $i from 2 through 200 {
    .ws-split#{$i} {
      >*:not(:first-child) {
        padding-left:#{$i*1/2}px;
      }
      >*:not(:last-child) {
        padding-right:#{$i*1/2}px;
      }
    }

    .ws-space#{$i} {
      >*:not(:first-child) {
        margin-left:#{$i*1/2}px;
      }
      >*:not(:last-child) {
        margin-right:#{$i*1/2}px;
      }
    }

    .ws-nd {
      display: none;
    }

    .ws-r {
      &.split#{$i} {
        >*:not(:first-child) {
          padding-left:#{$i*1/2}px;
        }
        >*:not(:last-child) {
          padding-right:#{$i*1/2}px;
        }
      }

      &.space#{$i} {
        >*:not(:first-child) {
          margin-left:#{$i*1/2}px;
        }
        >*:not(:last-child) {
          margin-right:#{$i*1/2}px;
        }
      }
    }

    .ws-c {
      &.split#{$i} {
        >*:not(:first-child) {
          padding-top:#{$i*1/2}px;
        }
        >*:not(:last-child) {
          padding-bottom:#{$i*1/2}px;
        }
      }

      &.space#{$i} {
        >*:not(:first-child) {
          margin-top:#{$i*1/2}px;
        }
        >*:not(:last-child) {
          margin-bottom:#{$i*1/2}px;
        }
      }
    }
  }
}

.flex100 {
  @include flex(0 1 100%);
}

@mixin ul-reset {
  padding:0;
  margin:0;
  list-style: none;
}

.bybounds {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.lh1 {
  line-height: 1;
}

.mw0 {
  min-width: 0;
}

@media all and (max-width: 800px) {
  @for $i from 1 through 100 {
    .ss-mt#{$i} {
      margin-top: #{$i}px;
    }

    .ss-mb#{$i} {
      margin-bottom: #{$i}px;
    }

    .ss-p#{$i} {
      padding: #{$i}px;
    }
  }

  @for $i from 0 through 200 {
    .ss-split#{$i}:not(.c) {
      >*:not(:first-child) {
        padding-left:#{$i*1/2}px;
      }
      >*:not(:last-child) {
        padding-right:#{$i*1/2}px;
      }
    }

    .ss-space#{$i}:not(.c) {
      >*:not(:first-child) {
        margin-left:#{$i*1/2}px;
      }
      >*:not(:last-child) {
        margin-right:#{$i*1/2}px;
      }
    }

    .ss-c.split#{$i}, .ss-c.ss-split#{$i} {
      >*:not(:first-child) {
        padding-top:#{$i*1/2}px;
        padding-left:0;
      }
      >*:not(:last-child) {
        padding-bottom:#{$i*1/2}px;
        padding-right:0;
      }
    }

    .ss-c.space#{$i}, .ss-c.ss-space#{$i} {
      >*:not(:first-child) {
        margin-top:#{$i*1/2}px;
        margin-left:0;
      }
      >*:not(:last-child) {
        margin-bottom:#{$i*1/2}px;
        margin-right:0;
      }
    }
  }

  .ss-cr {
    @include flex-direction(column-reverse);
  }

  .ss-rr {
    @include flex-direction(row-reverse);

    @for $i from 2 through 200 {
      &.ss-split#{$i} {
        > *:not(:first-child) {
          padding-right: #{$i*1/2}px;
          padding-left: 0;
        }
        > *:not(:last-child) {
          padding-left: #{$i*1/2}px;
          padding-right: 0;
        }
      }

      &.ss-space#{$i} {
        > *:not(:first-child) {
          margin-left: 0;
          margin-right: #{$i*1/2}px;
        }
        > *:not(:last-child) {
          margin-left: #{$i*1/2}px;
          margin-right: 0;
        }
      }
    }
  }

  .ss-flex1 {
    @include flex(1);
  }

  .ss-flex100 {
    @include flex(0 0 100%);
  }

  .ss-tac {
    text-align: center;
  }

  .ss-tal {
    text-align: left;
  }

  .ss-wrap {
    @include flex-wrap(wrap);
  }
}

.mac {
  .flex00auto {
    @include flex(0 0 auto);
  }
}

@media all and (min-width: 800px) {
  .iphone {
    display: none;
  }
}

@media all and (max-width: 800px) {
  body:not(.mac) .iphone {
    display: none;
  }
}

.fwl {
  font-weight: lighter;
}

.fw600 {
  font-weight: 600;
}

.b-1 {
  border-width:1px;
  border-style: solid;
}

.border-grey {
  border-color:#c9c9c9;
}

.border-blue {
  border-color:$blue;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &.flex1 {
    width: 0;
  }
}

.ui-datepicker, .ui-autocomplete.ui-widget-content{
  z-index: 999 !important
};


input[type=text], input[type=email], textarea {
  box-shadow: $input-shadow;

  &:focus {
    box-shadow: $input-shadow-hover;
    border-color:$green;
  }
}

.flexa {
  @include flex(auto);
}

.static {
  position: static;
}


.lena2px {
  @include transform(translateY(-1px));
  display: inline-block;
}
