.companycircle {
  width:81px;
  height:81px;
  //margin-left: auto;
  //margin-right: auto;
  border-radius: 50%;
}

#company {
  padding: 20px 0 30px;
  &:before {
    content: '';
    top:0;
    bottom:0;
    left:-2000px;
    right:-2000px;
    position: absolute;
    background: #aee3ff url(../i/company/background1.jpg) center center repeat-x;
    background-size: auto 100%;
    z-index: -1;
    border-bottom: solid 3px $blue;
  }
}

.company-benefits {
  >div {
    @include flex(0 1 220px);
    padding-bottom:20px;
    border-bottom: solid 2px $blue;

  }
}

.no1 {
  font-size: 90px;

  &:after {
    width:150px;
    height:150px;
    position: absolute;
    left:50%;
    top:50%;
    margin:-75px 0 0 -75px;
    background: white;
    border-radius: 100px;
    content: '';
    z-index: -1;
  }
}

.company-partners {
  >div {
    @include flex(0 1 200px);
  }
}

.partner-logo {
  height:50px;
}

.company-section {
  padding:30px 0;
}

.partner-name {
  margin-top:15px;
  padding-top:5px;
  border-top:solid 1px $grey;
}

#cpartners {
  border-bottom: solid 9px $blue;
}

#employees {
  &:before {
    border-top: solid 3px $blue;
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:800px;
    content: '';
    z-index: -1;
    background: url(../i/company/building.jpg);
    background-size: 100% auto;
  }
}

.employee-list {

  max-width: 950px;
  margin-left:auto;
  margin-right: auto;
  >div {
    border-radius: 10px;
    border:solid 1px #c9c9c9;
    @include flex(1 0 210px);
    max-width: 260px;
    min-width: 210px;
    margin:15px;
    background: url(../i/company/Badge-bg.png) center top no-repeat;
    box-shadow: 0 0 10px rgba(black, 0.1);
    padding:30px 16px 25px;

    &:after {
      position: absolute;
      bottom:0;
      height:9px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      content: '';
      left:0;
      right:0;
    }
    /*&:before {
      width:46px;
      height:8px;
      border-radius: 10px;
      border:solid 1px #c9c9c9;
      background: white;
      content: '';
      z-index: 10;
      top:11px;
      left:50%;
      margin-left:-23px;
      position: absolute;
    }*/
  }
}

.emp-blue {
  &:after {
    background-color: $blue;
  }
}

.emp-green {
  &:after {
    background-color: $green;
  }
}

.emp-orange {
  &:after {
    background-color: $orange;
  }
}

.employee-photo {
  @include flex(1 0 70px);
  max-width: 100px;
  img {
    display: block;
  }
}

#whywe {
  border-top: solid 9px $blue;
  padding-left:15px;
  padding-right: 15px;

  .country-photo.whywe {
    padding-left: 20px;
    min-height: 210px;
    border:none;
    text-align: center;
  }
}

.whywebg {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  overflow: hidden;
  z-index: -1;
  background: #2084ab;
  &:after {
    position: absolute;
    content: '';
    top:0;
    left:0;
    bottom:0;
    right:-330px;
    background: url(../i/country/island.jpg) right top no-repeat;
  }
}

.credit-img {
  width:150px;
  height:150px;
  border-radius: 75px;
  border: solid 1px white;
  margin-left: auto;
  margin-right: auto;
  img {
    display: block;
  }
}

.credit-section {
  padding:15px;
  background: $blue url(../i/company/bg.jpg) right center;
  background-size: 100% 100%;
  >div {
    max-width: 850px;
    margin:0 auto;
  }
}

.dov {
  @include flex(0 1 190px);
}

.credit-items {
  >div {
    @include flex(0 1 190px);
  }
}

#cresponses {
  border-top: solid 9px $blue;
}

.company-responses {
  padding:15px;
  background: #f3f3f3;
}

.responses-masonry {
  margin-left: -15px;
  margin-right: -15px;
}

.response {
  padding:15px;
  width:50%;
}

.response-text {
  margin-top: 25px;
  &:after {
    position: absolute;
    left:86px;
    bottom:100%;
    content: '';
    width:43px;
    height:21px;
    background: url(../i/company/tail.png) left top no-repeat;
  }
}

.company-contacts {
  margin-top:-50px;
  @include experimental-value(height, calc(100vh + 1px));
}

.about-company {
  z-index: 1;
}

#map-container {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;
  padding-top:360px;
}
#map-padder {
  position: absolute;
  top:400px;
  left:0;
  right:0;
  bottom:0;
}

#map {
  position: absolute;
  top:-400px;
  left:-600px;
  right:-600px;
  bottom:-400px;
  pointer-events: none;
}

.about-padder {
  @include flex(0 1 250px);
}

.about-contacts-plate {
  padding-left:40px;
  min-width: 760px;
  margin-right: 50px;
}

.contact-pdz {
  @include flex(0 0 210px);
  position: static;
}

.building-column {
  @include flex(0 1 250px);

  img {
    max-width: 100%;
  }
}

.contact-tab {
  background: rgba(#f3f3f3, 0.9);
}

.contact-tab-menu {
  position: absolute;
  top:0;
  left:100%;
}

.cmi {
  cursor:pointer;
  /*&:hover {
    @include background-image(linear-gradient(left,  #f3f3f3 0%,#f3f3f3 22%, #e8e8e8 100%));
  }*/
  width:50px;
  height:70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(black, 0.5);
  &.active, &:hover {
    z-index: 3;
    background: rgba(#f3f3f3, 0.9);

    .tab-end {
      z-index: 3;
      &:after {
        border: solid 20px rgba(#f3f3f3, 0.9);
      }
    }
  }
  +.cmi {
    margin-top:3px;
  }

  .tab-end {
    display: block;
    left:0;
    &:after {
      left: -20px;
      top: -20px;
      border: solid 20px rgba(black, 0.5);
    }

    &.bottom {
      top:100%;
    }
    &.top {
      bottom:100%;
      &:after {
        top: -40px;
      }
    }
  }

  &:first-child {
    .tab-end.top {
      display: none;
    }
  }
}

.contact-title {
  position: absolute;
  top:0;
  left:0;
  right:0;
  background: #eee4d6;
}

.no1c {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.pu {
  border-top: dashed 1px $blue;
}

.vpu {
  &:before {
    position: absolute;
    bottom:100%;
    height:100px;
    border-left: dashed 1px $blue;
    content: '';
  }
  &:first-child {
    &:before {
      left:0;
    }
  }
  &:last-child {
    &:before {
      right:0;
    }
  }
}

.contact-slider {
  .flex-control-paging {
    display: none;
  }

  .flex-direction-nav {
    a {
      opacity:1;
      text-indent: -9999px;
      text-align: left;
    }
    .flex-prev {
      left:10px;
      background: rgba(white, 0.8) url(../i/slider-left.png) 10px center no-repeat;
      border-radius: 20px;
      &:before {
        display: none;
      }
    }
    .flex-next {
      right:10px;
      background: rgba(white, 0.8) url(../i/slider-right.png) 15px center no-repeat;
      border-radius: 20px;
      &:before {
        display: none;
      }
    }
  }
}

.enlarge {
  position: relative;
  display: block;
  img {
    display: block;
  }
  i {
    position: absolute;
    display: block;
    width:40px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color:$blue;
    background: rgba(white, 0.4);
    bottom:0;
    left:50%;
    margin-left:-20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.docs {
  position: relative;
  display: inline-block;
  img {
    display: block;
  }
  i {
    position: absolute;
    display: block;
    width:40px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color:$blue;
    background: rgba(white, 0.4);
    bottom:27px;
    left:50%;
    margin-left:-20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.resp-disclaimer {
  background: #24c2e7;
  border-radius: 5px;
  padding:15px;
  color:white;
}

.company-payments {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  >div {
    border-radius: 3px;
    border: solid 1px $blue;
  }
}

.company-pi {
  height:90px;
  padding-bottom:10px;
  border-bottom:solid 4px $orange;
  margin-bottom:10px;

  margin-left: auto;
  margin-right: auto;
}