$green: #9cd71d;
$green-text: #86b419;
$blue: #058fc7;
$dark-blue: #0480b4;
$orange: #ff6700;
$red: #f2142b;

$grey: #777777;
$lightgrey: #bdbdbd;
$f3: #f3f3f3;
$cyan: #e7f8ff;
//$4,128,180
@mixin grey-gradient() {
  background-color: #dedede; // Old browsers
  @include filter-gradient(#ffffff, #dedede, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #ffffff 0%,#ffffff 40%,#dedede 70%,#dedede 100%));
}
@mixin grey-hover-gradient() {
  background-color: #cfcfcf; // Old browsers
  @include filter-gradient(#cfcfcf, #efefef, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #bababa 0%,#ececec 22%,#ececec 100%));
}
@mixin grey-active-gradient() {
  background-color: #dddddd; // Old browsers
  @include filter-gradient(#dddddd, #ffffff, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #dddddd 0%,#ffffff 20%,#ffffff 80%,#ffffff 100%));
}

@mixin blue-gradient() {
  background-color: #0099cc; // Old browsers
  @include filter-gradient(#0099cc, #006699, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #0099cc 0%,#006699 100%));
}
@mixin blue-hover-gradient() {
  background-color: #0070a3; // Old browsers
  @include filter-gradient(#0070a3, #058fc7, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #0070a3 0%,#0099cc 35%,#0099cc 65%,#0099cc 100%));
}
@mixin blue-active-gradient() {
  background-color: #0099cc; // Old browsers
  @include filter-gradient(#0099cc, #00ccff, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #0099cc 0%,#00ccff 35%,#00ccff 65%,#00ccff 100%));
}

@mixin green-gradient() {
  background-color: #99cc00; // Old browsers
  @include filter-gradient(#99cc00, #669900, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #99cc00 0%,#669900 100%));
}

@mixin green-hover-gradient() {
  background-color: #80b200; // Old browsers
  @include filter-gradient(#80b200, #99cc00, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #80b200 0%,#99cc00 20%,#99cc00 80%,#99cc00 100%));
}
@mixin green-active-gradient() {
  background-color: #99cc33; // Old browsers
  @include filter-gradient(#99cc33, #ccff00, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #99cc33 0%,#ccff00 20%,#ccff00 80%,#ccff00 100%));
}

@mixin orange-gradient() {
  background-color: #ff6600; // Old browsers
  @include filter-gradient(#ff6600, #cc3300, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #ff6600 0%,#cc3300 100%));
}
@mixin orange-hover-gradient() {
  background-color: #c75000; // Old browsers
  @include filter-gradient(#c75000, #ff6600, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #c75000 0%,#ff6600 20%,#ff6600 80%,#ff6600 100%));
}
@mixin orange-active-gradient() {
  background-color: #cc6633; // Old browsers
  @include filter-gradient(#cc6633, #ff9900, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #cc6633 0%,#ff9900 20%,#ff9900 80%,#ff9900 100%));
}

@mixin common-button() {
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  color:white;
  &:hover {
    text-decoration: none;
  }
  padding:0 1.5em;
  height: 30px;
  line-height: 30px;
  &.ttu {
    line-height: 30px;
  }
  //font-weight: 600;
  /*text-shadow: 0px 1px 1px rgba(black, 0.26);*/

  &[type=button], &[type=submit] {
    //padding-bottom:2px;
  }

  &:disabled {
    opacity:0.7;
  }

  &.aib {
    display: inline-block;
    text-decoration: none;
    padding:0 8px;
    text-align: center;

    &.multiline {
      height: auto;
      min-height: 30px;
      line-height: 1.1;

      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      &.iflex {
        display: -ms-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
      }
      >* {

      }
    }
  }
}