.ws-h30 {
  &.number-with-spinners {
    .minus, .plus {
      height:30px;
      width:30px;
      line-height: 30px;
    }
    input {
      height:30px;
      width:30px;
      line-height: 17px;
      font-size: 16px;
    }
  }
}

.ws-abs {
  &.revealer {
    &.shown {
      z-index: 221;
    }
  }
  &.ebebeb {
    position: absolute;
    z-index: 220;
    width:100%;
  }
}

.input-pholder {
  &.mobile-select {
    padding: 5px 0 2px 0;

    .pholder {

    }
    .selectric-wrapper {
      //margin:0 -5px -2px -5px;
    }

    .selectric {
      padding-top:15px;
      margin-top:-15px;
      .label {
        line-height: 20px;
        height: 20px;
        font-size: 15px;
        //font-weight: bold;
        margin-left: 10px;
        .flag {
          margin-right: 8px;
        }
      }
      .button {
        display: none;
      }
    }
    .selectric-items {
      margin-top: 4px;
      left: -1px;
      right: -1px;
      width:auto !important;
    }
  }
}

.client-service {
  margin-top:15px;
  border-top:solid 1px $grey;
  padding-top:15px;
}

.revealer {
  &.ws-h40 {
    height:40px;
    line-height: 40px;
  }
}

.flex0050 {
  @include flex(0 0 50%);
}

.ws-ebebeb {
  @include ebebeb();
}

.selectric-countrycode {
  @include flex(1);
  .selectric {
    .label {
      line-height: 20px;
      height: 20px;
    }
    .button {
      right:3px;
      top:-6px;
    }
  }

  .selectric-items {
    width: auto !important;
    left:-11px;
    right:-6px;
    margin-top:6px;
  }
}

.phone-input {
  position: absolute;
  bottom:0;
  left:25px;
  right:25px;
}