@-moz-document url-prefix() {
  input, button {
    padding-bottom: 1px !important;
    line-height: normal !important;

    &[type=text] {
      padding-bottom: 2px !important;
    }
  }
}

@media screen and (-moz-windows-theme) {
  @-moz-document url-prefix() {
    input, button {
      padding-bottom: 2px !important;
    }
  }
}

@-moz-document url-prefix() {
  .mozfix {
    position: relative;
    top:-1px;
  }
}