.section-blue-bg {
  background: $blue url(../i/country-blue.jpg) center center no-repeat;
  background-size: 100% 100%;
  color:white;
  padding:30px 0 40px;
}

.usefullist {
  >* {
    max-width: 900px;
    margin:0 auto;
    padding-bottom: 20px;
    /*&:before {
      content: '';
      position: absolute;
      top:57px;
      left:0;
      right:0;
      height:1px;
      border-top:dashed 1px white;
    }*/

    &:after {
      position: absolute;
      left:0;
      right:0;
      border-left:dashed 1px white;
      border-right:dashed 1px white;
      pointer-events: none;
    }

    &:not(:last-child) {
      &:after {
        content: '';
        top:57px;
        bottom:-57px;
      }
    }
  }
  a {
    @include flex(1);
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top:57px;
      left:0;
      @include experimental-value(right, calc(50% + 57px));
      height:1px;
      border-top:dashed 1px white;
    }
    &:after {
      content: '';
      position: absolute;
      top:57px;
      right:0;
      @include experimental-value(left, calc(50% + 57px));
      height:1px;
      border-top:dashed 1px white;
    }
  }

  .sign {

  }
}

.uimg {
  width:115px;
  height:115px;
  border-radius: 50%;
  border:solid 4px white;
  //background: #025ab3;
}

.bb-list {
  +.bb-list {
    border-top:solid 1px $grey;
    margin-top:30px;
    padding-top:30px;
  }
}

.for-front {
  .country-section {
    +.country-section {
      margin-top:30px;
      padding-top:30px;
      border-top:solid 10px $blue;
    }
  }
}