#hotel-or-city {
  @include flex(0 1 28em);
  @include from-input();
}

.hotel-photos {
  .flex-direction-nav {
    a {
      opacity:1;
      text-indent: -9999px;
      text-align: left;
    }
    .flex-prev {
      left:10px;
      background: url(../i/slider-left.png) left center no-repeat;
      &:before {
        display: none;
      }
    }
    .flex-next {
      text-align: left;
      right:10px;
      background: url(../i/slider-right.png) right center no-repeat;
      &:before {
        display: none;
      }
    }
  }

  .flex-direction-nav {
    .flex-prev {
      background: url(../i/hotel/white-slider-left.png) left center no-repeat;
    }
    .flex-next {
      background: url(../i/hotel/white-slider-right.png) right center no-repeat;
    }
  }
}

.slider {
  .slides {
    >li {
      >img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.flex-control-nav {
  display: none;
}

.bgcover {
  background-size: cover;
}

.hotelbgw {
  padding:20px 0;
  &:before {
    position: absolute;
    width:3000px;
    right:-10px;
    top:0;
    bottom:0;
    background: #ffffff;
    content:'';
    display: block;
  }
}

.turoperators-table {
  white-space: nowrap;
  padding:0 0 5px 0;
  &:not(.header) {
    padding-top:5px;
    > div {
      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        line-height: 28px;
        text-align: center;
      }

      &:nth-child(4), &:nth-child(5) {
        padding: 0 6px;
      }
    }
  }

  >div {
    &:nth-child(1) {
      @include flex(0 0 12px);
      margin:-5px 0;
    }
    &:nth-child(2) {
      margin-left:10px;
      @include flex(0 1 150px);
      min-width: 120px;
    }
    &:nth-child(3) {
      @include flex(1 0 70px);
      max-width: 90px;
    }
    &:nth-child(4) {
      @include flex(1 0 70px);
      max-width: 100px;
    }
    &:nth-child(5) {
      @include flex(1 0 80px);
      max-width: 120px;
    }
    &:nth-child(6) {
      @include flex(1 0 80px);
      max-width: 120px;
    }

    &.no-offer {
      @include flex(1 0 330px);
      max-width: 450px;
    }
  }

  input.grey-button {
    height:30px;
    line-height: 20px;
  }
}

.green-itogo {
  color:#65b510;
}
.border-green-itogo {
  border-color:#65b510;
}

$cyan2: #24c2e6;

.cyan2 {
  color: $cyan2;
}

.bg-cyan2 {
  background-color: $cyan2;
}

.starter {
  width:10px;
  @include align-self(stretch);
}

.tour-total {
  >.sep {
    @include align-self(stretch);
    background: $grey;
  }
}

.bb6 {
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.fl130 {
  @include flex(0 0 150px);
}

.hotel-pi {
  margin-right:30px;
  border-right:solid 6px $orange;
  padding-right:10px;
}

.hotel-payment {
  .bigradio {
    margin-top:-28px;
    input[type=radio]+span {
      &:after {
        background-color: $blue;
      }
    }
  }
}

.forhotel {
  max-height: 260px;
}

#order-cols #ocl.for-hotel {
  &:before {
    background-image: url(../i/hotel/Bacground_Foto_Hotel.jpg);
  }
}

.hotel-dop-icon {
  @include flex(0 0 70px);
}

.hotelexslider {
  padding:0 30px;
  width:100%;
  .flex-control-nav {
    display: none;
  }
  .flex-direction-nav {
    a {
      opacity:1;
      text-indent: -9999px;
      text-align: left;
    }
    .flex-prev {
      top:60px;
      left:0;
      background: url(../i/slider-left.png) left center no-repeat;
      &:before {
        display: none;
      }
    }
    .flex-next {
      top:60px;
      right:0;
      background: url(../i/slider-right.png) right center no-repeat;
      &:before {
        display: none;
      }
    }
  }
  .slides {
    @include display-flex();
    @include flex-wrap(wrap);
    >li {
      text-align: center;
      float:none !important;
      @include display-flex(flex !important);

      img {
        width: 100%;
      }
    }

    .aib {
      display: inline-block;
      width:100%;
    }
  }
}

.results-header {
  background: #3e3e3e;
  z-index: 200;
  color:white;
}

.filtercol {
  padding: 10px 0;
  @include flex(0 0 200px);
  @include experimental-value(height, calc(100vh - 28px - 50px));
  >* {
    @include flex(0 1 auto);
  }
}

.fcm {
  @include flex(0 1 1.5em);
}

.fcmt {
  padding-top: 5px;
  @include flex(0 2 2em);
}

.flex-q {
  @include flex(0 1 25%);
  min-width: 150px;
}

.h-photo {
  @include flex(0 1 250px);
  min-width: 100px;
  background-size: cover;
  background-position: center center;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: solid 1px $lightgrey;
}

.h-all {
  min-width: 460px;
}

.h-bef {
  position: absolute;
  top:1px;
  bottom:1px;
  width:15px;
  left:1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.h-item {
  padding-left: 9px;
  box-shadow: inset 0 0 0 1px $lightgrey;
  &:nth-child(2n+1) {
    .h-bef {
      background-color: $blue;
    }
  }
  &:nth-child(2n) {
    .h-bef {
      background-color: $orange;
    }
  }
}

.h-inner {
  border: solid 1px $lightgrey;
  border-radius: 5px;
}

.h-desc {
  height:5.1em;
  overflow: hidden;
}