@charset "utf-8";
@import "compass";
@import "define";


#personalcabinet {

}


.cabinet {
  height:50px;
  >div {
    color: $blue;
    background: none;
  }
}

.compact .tabs-switchers {
  >div {
    color: $blue;
    background: none;
  }
}

.tr-hover {
  position: absolute;
  width:100%;
  margin-top:-10px;
  margin-left:-10px;
  background: rgba(white, 0.9);
  padding:10px;
  z-index: 20;
}

.o-cancel {
  position: absolute;
  background: rgba(white, 0.9);
  padding:10px;
  z-index: 20;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.white-table {
  width:100%;
  th {
    font-weight: normal;
    color:$grey;
    padding:10px 5px;
  }

  tbody {
    tr {
      background: white;
      +tr:not(.tr-extra) {
        border-top:solid 5px #f3f3f3;
      }

      &.tr-extra {
        td {
          padding-top:0;
        }
      }
    }

    td {
      padding:10px 5px;
      &:first-child {
        padding-left:10px;
      }
      &:last-child {
        padding-right: 10px;
      }
    }
  }

  &.vam {
    td {
      vertical-align: middle;
    }
  }
}

.profile-mw {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.o-table {
  .o-row {
    background: white;
    +.o-row {
      margin-top: 10px;
    }

    &.o-active {
      box-shadow: 0 0 7px rgba(black, 0.2), inset 0 0 0 1px $blue;
    }
  }
  .o-cols {
    padding:10px;
  }
}