#col1 {
  display: none;
}

#alternate-price {
  display: none;

}

#time-and-subscribe {
  display: none;
}

#two-cols > .max-width #col2 {
  padding-left:0;
}

.trip-help {
  //display: none;
  .trip-col1 {
    display: none;
  }
}
#results {
  > *:not(.promo-result) + *:not(.promo-result) {
    margin-top:20px;
    &:before {
      height: 24px;
      background: #EEEEEE;
    }
  }
  .promo-result {
    display: none;
    margin: 20px -10px;
    padding: 10px 10px;
    //display: none;
    .promo-header.bysides {
      text-align: center;
      padding:5px;
      .afut {
        font-size: 24px;
      }
      h2 {
        >span {
          display: block;
        }
      }
      @include flex-direction(column);
      >* {
        width:100%;
      }
    }

    .hotel-and-trip {
      @include flex-direction(column);
      > .hotel-info {
        margin-right: 0;
        background-position: center bottom;
        background-size: cover;
      }
    }
  }
}

.result-cols {
  @include flex-direction(column);
  .trip-row {
    @include flex-direction(column);
  }

  .trip-col2 {
    border-left: none;
  }
  .col-trip-info.rounded {
    margin-right:0;
  }

  .col-price {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    >* {
      //background: red;
    }
    .price-n, .buy-n {
      @include flex(1);
    }

    .price-n {
      line-height: 1;
    }

    .buy-n {
      font-size: 18px;
    }
  }
}

.flight-params, .times-row {
  font-size: 11px;
}

.trip-back {
  .trip-row {
    @include flex-direction(column-reverse);
  }
  +.trip-row {
    @include flex-direction(column-reverse);
  }
}

#results-header {
  text-align: left;
}

#src-dst {
  display: block;
  .helper {
    font-weight: normal;
    text-transform: none;
    color:#d1d1d1;
  }
}

#res-dates {
  display: block;
  margin-left:0;
  margin-top:5px;
}

.col-trip-info {
  z-index: 2;
}

.inner-top-shadow {
  &:before {
    top:100%;
    z-index: 2;
  }
}

.price-n {
  padding-top:7px;
  padding-bottom:6px;

  .grey.smaller2 {
    display: none;
  }
}

.buy-n {
  padding-top:10px;
  padding-bottom:6px;
  .grey.smaller2 {
    display: none;
  }
}

.credit-wrapper {
  @include flex(0 0 100%);
  display: none;
}

.buy-credit {
  min-height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding:0;
}

.company-name-and-logo {
  br {
    display: none;
  }
  img {
    vertical-align: middle;
  }
}

.blue-row > div {
  padding:6px 4px;
}