#responses {
  display: none;
}

#order-cols {
  padding:0;
  @include flex-direction(column);

  #ocl, #ocr {
    width:auto;
    padding:10px;

    &:before {
      display: none;
    }
  }
}

#ocr, #passengers-data {
  //display: none;
  .form-group {
    .becomecol {
      @include align-items(stretch);
      &.withmargin {
        >*+* {
          margin:0 0 0 0;
        }
        >*:not(.gender-select):not(.ss-nd)+* {
          margin:10px 0 0 0;
        }
      }
    }
  }

  .w50 {
    width: auto;
  }
}

.inputshadow {
  input[type=text], input[type=email] {
    line-height: 35px;
    height:35px;

    padding:0 0.5em;
  }
}

.inputshadow input[type="text"].cellular {
  padding-left:0.5em;
  @include order(1);
  +select {
    margin-right:15px;
  }
}

#ingos-advantages {
  >div {
    width:100%;
    +div {
      padding:15px 0 0 0;
    }
  }
}

.add-insurance {
  .name {
    @include flex(0 0 100%);
    margin-bottom:10px;
    br {
      display: none;
    }

    +div +div {
      @include flex(1);
    }
  }
}

#insurance {
  .dobuy {
    margin-top:10px;
    @include flex(0 0 100%);
    input {
      width:100%;
    }
  }
}

.becomewrap {
  @include flex-wrap(wrap);
}

#aeroexpress {
  .aeroexpress-ticket {
    @include flex-wrap(wrap);

    .aeroexpress-price {
      @include flex(0 1 25%);
      text-align: right;
    }

    .dobuy {
      margin-top:10px;
      @include flex(0 0 100%);
      input {
        width:100%;
      }
    }
  }
}

.services-input {
  > div {
    @include flex(auto);
    +div {
      margin-top:10px;
    }
  }
}

#go-to-search {
  display: none;
  #subscribe-form {
    +div {
      margin:10px 0 0 0;
    }
  }
}

.notebook {
  display: none;
}

.becomewrap {
  @include flex-wrap(wrap);
  &.withmargin {
    >* {
      margin-top:10px;
      + * {
        margin-left: 0;
      }

    }
  }
}

.labels-on-top {
  @include align-items(flex-end);
}

.passenger .sideline {
  width:4px;
  margin-left: 6px;
}

.payments {
  margin-top:-10px;
  @include justify-content(flex-start);
  >.flex1 {
    margin-top:30px;
    @include flex(0 1 100px);
  }
}

.fp {
  padding:0;
  +* {
    .green-button {
      padding: 3px 5px;
      width:100%;
      font-weight: 600;
      font-size: 18px;
      text-transform: none;
    }
  }
}

.w135 {
  width: auto;
}

.revealer, #order-cols #flight-info-title {
  @include common-button();
  @include grey-gradient();
  text-transform: none;
  color:black;
  text-shadow: none;
  box-shadow: inset 0 0 0 1px $blue;
  height:35px;
  line-height: 35px;
  text-align: left;
  padding-left:5px;
  padding-right: 30px;
  border-radius: 2px;

  &.revealer-grey {
    background: white;
    box-shadow: inset 0 0 0 1px $grey;
    color:$grey;
    &:after {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  &:after {
    content: '';
    background: url(../i/arrow-down.png);
    width:12px;
    height:8px;
    position: absolute;
    right:10px;
    top:50%;
    margin-top:-4px;
    @include transition(transform 0.3s ease-in-out);
  }

  &.flight-visible, &.shown {
    &:after {
      @include transform(rotate(180deg));
    }
  }

  //&:not(.shown) {
    & + .reveal-what {
      display: none;
    }
  //}
  z-index: 1;
}

#order-cols #flight-info-title {
  color: $blue;
}

.ebebeb {
  background: #ebebeb;
  margin-top:-4px;
  padding-top:4px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: inset 0 0 0 1px #e0e0e0;
}

.gender-select {
  position: absolute;
  padding:0;
  top:-98px;
  right:0;
  @include display-flex();
  @include align-items(flex-end);
  .gm, .gf {
    &:checked + label:after {
      display: none;
    }
  }

  p + p {
    margin:0 0 0 10px;
  }

  input[type=radio] {
    margin-right:3px;
  }
}

.reveal-ins {
  &:after {
    content: '';
    background: url(../i/arrow-down-white.png);
    width:12px;
    height:8px;
    position: absolute;
    right:1.5em;
    top:50%;
    margin-top:-4px;
  }
  &.revealed {
    &:after {
      @include transform(rotate(180deg));
    }
  }
}

#insurance-form {
}

.insurance-block {
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  background: #ebebeb;

}

.border-bottom-5 {
  &:after {
    position: absolute;
    bottom:-5px;
    left:0;
    right:0;
    content: '';
    height:1px;
    background: #a2a2a2;
  }
}

.insurance-popup {
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background: rgba(white, 0.9);
  z-index: 100;
}


.payment-image {
  height:40px;
}

.ss-fixed-final-price {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  color:white;
  background: #3e3e3e;
  z-index: 20;
}

body.bron {
  #totop {
    display: none !important;
  }
  padding-bottom: 51px;
}

#order-form {
  margin-top:10px;
}

.mobile-select {
  &.input-pholder {
    @include grey-gradient();
  }
  padding-right: 20px;
  &:after {
    position: absolute;
    content: '';
    top:50%;
    right:4px;
    background: url(../i/arrow-down.png);
    width:12px;
    height:8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top:1px;
  }
}

.flex60 {
  @include flex(0 0 60%);
}