#search-throbber {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
  //background: rgba(229, 241, 244, 0.9);
  background: rgba(255, 255, 255, 0.9);
  font-weight: 500;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#sth-inner {
  width:940px;

  .rounded5 {
    background: #FFFFFF;
    padding:5px 15px;
    height:80px;
    width:340px;
    border:solid 2px $blue;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &:before {
    position: absolute;
    left:50%;
    top:50%;
    width:530px;
    height:530px;
    content: '';
    border-radius: 50%;
    margin:-295px 0 0 -265px;
    background: rgba(255, 255, 255, 0.8);
  }
}

#sth-title {
  position: absolute;
  bottom:100%;
  left:0;
  right:0;
  font-size: 18px;
  margin-bottom:30px;
}

#magnif {
  position: absolute;
  left:50%;
  top:50%;
  width:216px;
  height:216px;
  @include transform(translateX(-50%) translateY(-50%));
  border:solid 2px $blue;
  &:before {
    //content:url(../i/magnif.png);
    width:278px;
    height:281px;
    position: absolute;
    left: -24px;
    top: 0px;
  }
}

#throbber-slider {
  @include transform(translateY(-50px));
  width:180px;

  .flex-control-paging {
    display: none;
  }

  .flex-direction-nav {
    list-style: none;
    padding:0;
    margin:0;

    .flex-prev {
      position: absolute;
      top:50%;
      text-indent: -9999px;
      background: url(../i/throbber-prev.png) center center no-repeat;
      width:48px;
      height:49px;
      @include transform(translateX(-45px) translateY(-50%));
      right:100%;
    }

    .flex-next {
      position: absolute;
      top:50%;
      text-indent: -9999px;
      background: url(../i/throbber-next.png) center center no-repeat;
      width:48px;
      height:49px;
      @include transform(translateX(45px) translateY(-50%));
      left:100%;
    }
  }
}

.thpic {

  height:180px;
}

#magnifscale {
  margin-top:-50px;
  position: absolute;
  left:50%;
  top:50%;
  width:150px;
  height:150px;
  @include transform(translateX(-50%) translateY(-50%));
  svg {
    display: block;
  }
  &:before {
    content:url(../i/mag.svg);
    width:201px;
    height:269px;
    position: absolute;
    left: -18px;
    top: -24px;
  }
}

.thsign {
  position: absolute;
  top:100%;
  left:-180px;
  min-width: 600px;
  margin-top:20px;
}

#eye {
  position: absolute;
  top:50%;
  left:50%;
  width:132px;
  height:75px;
  background: url(../i/eye-phase.png);
  margin:-37px 0 0 -66px;
  animation-name: eye;
  animation-duration: 2.15s;
  animation-iteration-count: infinite;
}

@keyframes eye {
  0%   {background-position: 0 0;}
  93.02%  {background-position: 0 0;}
  93.03%   {background-position: 0 -75px;}
  95.36%  {background-position: 0 -75px;}
  95.37%   {background-position: 0 -150px;}
  97.69%  {background-position: 0 -150px;}
  97.7%   {background-position: 0 -75px;}
  100%  {background-position: 0 -75px;}
}

.arc {
   fill: $orange;
 }

.arc1 {
  fill: #24c2e7;
}

#search-pending {
  position: fixed;

  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
  //background: rgba(229, 241, 244, 0.9);
  background: rgba(255, 255, 255, 0.9);
  font-weight: 500;
}
