#search-throbber {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
  //background: rgba(229, 241, 244, 0.9);
  background: rgba(255, 255, 255, 0.9);
  font-weight: 500;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#sth-inner {
  width:940px;

  .rounded5 {
    background: #FFFFFF;
    padding:5px 15px;
    height:80px;
    width:340px;
    border:solid 2px $blue;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &:before {
    position: absolute;
    left:50%;
    top:50%;
    width:530px;
    height:530px;
    content: '';
    border-radius: 50%;
    margin:-295px 0 0 -265px;
    background: rgba(255, 255, 255, 0.8);
  }
}

#sth-title {
  position: absolute;
  bottom:100%;
  left:0;
  right:0;
  font-size: 18px;
  margin-bottom:30px;
}

#magnif {
  position: absolute;
  left:50%;
  top:50%;
  width:216px;
  height:216px;
  @include transform(translateX(-50%) translateY(-50%));
  border:solid 2px $blue;
  &:before {
    //content:url(../i/magnif.png);
    width:278px;
    height:281px;
    position: absolute;
    left: -24px;
    top: 0px;
  }
}

#throbber-slider {
  //@include transform(translateY(-50px));
  width:94px;
  @include transition(width 0.1s);

  .flex-control-paging {
    display: none;
  }

  .flex-direction-nav {
    list-style: none;
    padding:0;
    margin:0;

    .flex-prev {
      position: absolute;
      top:50%;
      text-indent: -9999px;
      background: url(../i/throbber-prev.png) center center no-repeat;
      width:48px;
      height:49px;
      @include transform(translateX(-45px) translateY(-50%));
      right:100%;
    }

    .flex-next {
      position: absolute;
      top:50%;
      text-indent: -9999px;
      background: url(../i/throbber-next.png) center center no-repeat;
      width:48px;
      height:49px;
      @include transform(translateX(45px) translateY(-50%));
      left:100%;
    }
  }
}

.thpic {
  margin-top: 25px;
  margin-bottom: 25px;
  height:94px;
  @include transition(width 0.1s, height 0.1s, margin 0.1s);
  img {
    max-height: 50px;
    @include transition(max-height 0.1s);
  }
}

#magnifscale {
  animation-name: eye;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  width:146px;
  height:195px;
  position: absolute;
  top:0;
  left:50%;
  margin-left: -67px;
  @include transition(width 0.1s, height 0.1s, margin-left 0.1s);
  svg {
    display: block;
  }
  &:before {
    content:'';
    background: url(../i/Static_Search.svg);
    width:146px;
    height:195px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-background-size: cover; background-size: cover;
    @include transition(width 0.1s, height 0.1s, margin-left 0.1s);
  }
}

.thsign {
  position: absolute;
  top:25px;
  bottom:25px;
  left:50%;
  margin-left:-450px;
  width: 900px;
}

#eye {
  position: absolute;
  top:50%;
  left:50%;
  width:132px;
  height:75px;
  background: url(../i/eye-phase.png);
  margin:-37px 0 0 -66px;

}

@keyframes eye {
  0%   {@include transform(scale(1));}
  90% {@include transform(scale(1.1));}
  100%  {@include transform(scale(1));}
}

.arc {
   fill: $orange;
 }

.arc1 {
  fill: #24c2e7;
}

#search-pending {
  height:195px;
  @include transition(height 0.1s);
  /*position: fixed;

  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  font-weight: 500;*/
}


.throbber-small {
  #search-pending {
    height:156px;
  }

  #throbber-slider {
    width:80px;
  }

  .thpic {
    height: 80px;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  img {
    max-height: 40px;
  }

  #magnifscale {
    height:156px;
    width:116px;
    margin-left: -53px;
    &:before {
      height:156px;
      width:116px;
    }
  }
}