@charset "UTF-8";
/*reset*/
@font-face {
  font-family: 'ALSRublRegular';
  src: url("/css/font/rouble-webfont.eot");
  src: local("*"), url("/css/font/rouble-webfont.woff") format("woff"), url("/css/font/rouble-webfont.ttf") format("truetype"), url("/css/font/rouble-webfont.svg#webfontgSHfIo48") format("svg");
  font-weight: normal;
  font-style: normal; }
.rub {
  position: relative; }
  .rub:after {
    position: absolute;
    content: "–";
    left: 0px;
    top: 55%;
    line-height: 1px; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background: none;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  height: 100%; }

body {
  *font-size: small;
  *font: x-small;
  line-height: 1.22;
  min-height: 100%; }

table {
  font-size: inherit;
  font: 100%; }

select, input, textarea {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility; }

html {
  -webkit-font-smoothing: antialiased; }

a, a:hover, a:active, a:visited {
  text-decoration: underline;
  outline: none; }

ul {
  margin-left: 30px; }

ol {
  margin-left: 30px;
  list-style-type: decimal; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  margin: 0; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

::-moz-selection {
  background: #E6E6E6;
  color: #000;
  text-shadow: none; }

::selection {
  background: #E6E6E6;
  color: #000;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

div {
  position: relative; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0; }

.clear {
  clear: both; }

/*reset*/
/*скрываем элементы по типу устройства вывода*/
.no-display {
  display: none; }

@media screen {
  .no-screen {
    display: none; } }
@media print {
  .no-print {
    display: none; } }
@media handheld {
  .no-handheld {
    display: none; } }
/*выносные кавычки и скобки*/
/*span.sbrace {margin-right: 0.33em}
span.hbrace {margin-left: -0.33em}

span.slaquo {margin-right: 0.44em}
span.hlaquo {margin-left: -0.44em}
span.slaquo-s {margin-right: 0.5em}
span.hlaquo-s {margin-left: -0.5em}
span.slaquo-b {margin-left: 0.85em}
span.hlaquo-b {margin-left: -0.85em}

span.sbdquo {margin-right: 0.35em}
span.hbdquo {margin-left: -0.35em}
span.sbdquo-s {margin-right: 0.35em}
span.sbdquo-s {margin-left: -0.35em}

span.squot {margin-right: 0.32em}
span.hquot {margin-left: -0.32em}

span.sowc {margin-right: 0.04em}
span.howc {margin-left: -0.04em}

span.sowcr {margin-right: 0.05em}
span.howcr {margin-left: -0.05em}*/
.ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }

.ul li {
  position: relative; }

/*Стиль инпутов*/
.form {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 60em; }

.form > li + li {
  margin: 1em 0 0 0; }

.form > li > span {
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.form > li > span:first-child {
  width: 25%;
  padding: 0 2em 0 0; }

.form > li > span:first-child + span {
  display: inline-block;
  width: 75%; }

.form > li > span:first-child + span > input[type=text],
.form > li > span:first-child + span > input[type=number],
.form > li > span:first-child + span > input[type=url],
.form > li > span:first-child + span > input[type=email],
.form > li > span:first-child + span > input[type=tel],
.form > li > span:first-child + span > select {
  width: 100%;
  border: solid 1px #c8c8c8; }

.form > li > span:first-child + span > textarea {
  width: 100%;
  height: 8em; }

.form sub {
  font-style: italic; }

.form > li > span:first-child + span > input.selectdate {
  width: 5.3em; }

.ui-widget-overlay {
  background: black;
  opacity: 0.1; }

.ui-dialog {
  -moz-box-shadow: 2px 2px 20px #666666;
  box-shadow: 2px 2px 20px #666666;
  -webkit-box-shadow: 2px 2px 20px #666666; }

#fancybox-wrap {
  padding: 0 !important; }

/*Стиль инпутов*/
ul.textm > li {
  margin: 0em 0 0.6em 0em; }

ul.textm {
  list-style-type: none;
  padding-left: 0.7em; }

ul.textm > li {
  padding: 0; }

ul.textm > li:before {
  content: '♦\a0';
  float: left;
  margin-left: -0.7em;
  color: #ff8400; }

ul.textm > li > *:first-child {
  margin-top: -1.2em; }

ul.textm > li > * {
  text-indent: 0; }

.textm .sup {
  position: relative;
  top: -0.5em;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline; }

.taj {
  text-align: justify; }

.ibm {
  display: inline-block;
  vertical-align: middle; }

.ibt {
  display: inline-block;
  vertical-align: top; }

.j {
  display: inline-block;
  width: 90%; }

.max-width {
  max-width: 76em;
  margin: 0 auto;
  padding: 0 1em; }

@font-face {
  font-family: 'SEGOEUIL';
  src: url("fonts/SEGOEUIL.eot");
  src: local("SEGOEUIL"), url("fonts/SEGOEUIL.woff") format("woff"), url("fonts/SEGOEUIL.ttf") format("truetype"); }
@font-face {
  font-family: 'AFuturaRound';
  src: url("fonts/afuturaround-regular-webfont.eot");
  src: url("fonts/afuturaround-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/afuturaround-regular-webfont.woff2") format("woff2"), url("fonts/afuturaround-regular-webfont.woff") format("woff"), url("fonts/afuturaround-regular-webfont.ttf") format("truetype"), url("fonts/afuturaround-regular-webfont.svg#a_futuraroundregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AFuturaRound';
  src: url("fonts/afuturaround-bold-webfont.eot");
  src: url("fonts/afuturaround-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/afuturaround-bold-webfont.woff2") format("woff2"), url("fonts/afuturaround-bold-webfont.woff") format("woff"), url("fonts/afuturaround-bold-webfont.ttf") format("truetype"), url("fonts/afuturaround-bold-webfont.svg#a_futuraroundbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'AFuturaRoundDemi';
  src: url("fonts/afuturarounddemi-webfont.eot");
  src: url("fonts/afuturarounddemi-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/afuturarounddemi-webfont.woff2") format("woff2"), url("fonts/afuturarounddemi-webfont.woff") format("woff"), url("fonts/afuturarounddemi-webfont.ttf") format("truetype"), url("fonts/afuturarounddemi-webfont.svg#a_futurarounddemiregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.afut {
  font-family: 'AFuturaRound'; }

.green {
  color: #8fcb00; }

.blue {
  color: #058fc7; }

.grey {
  color: #929292; }

.lightgrey {
  color: #bdbdbd; }

#pixel {
  position: absolute;
  top: -183px;
  left: 50%;
  width: 1024px;
  margin-left: -512px;
  height: 2388px;
  background: url(../i/pixel.png);
  opacity: 0.1;
  pointer-events: none;
  z-index: 1000; }

body {
  font-family: 'Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #fff;
  color: #000;
  line-height: 1.3; }

input, select, textarea {
  font-family: 'Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif; }

a {
  color: #058fc8; }
  a:hover {
    color: #47c0ff; }

.max-width {
  max-width: 1024px;
  padding: 0 20px; }

#top {
  padding-top: 20px;
  padding-bottom: 7px; }
  #top > .max-width {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    #top > .max-width > * + * {
      border-left: solid 1px rgba(4, 128, 180, 0.3); }

#logo {
  padding-right: 30px; }
  #logo > a {
    text-decoration: none;
    display: block; }
    #logo > a > div {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }

#sitename-and-slogan {
  margin: -10px 0 0 8px; }

#sitename {
  font-size: 31px; }

#slogan {
  font-size: 12px; }

#partners {
  padding: 0 15px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  #partners > div {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    white-space: nowrap;
    text-align: center;
    padding: 0 15px; }
  #partners h4 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0.3em; }

#phones {
  text-align: right;
  padding: 0 30px;
  white-space: nowrap;
  line-height: 1.1; }
  #phones .blue {
    font-size: 20px; }
  #phones .grey {
    font-size: 13px; }

#personal {
  padding-left: 30px;
  text-align: right; }

#call-variants {
  display: inline-block;
  width: 130px; }
  #call-variants td {
    text-align: center;
    font-size: 10px;
    white-space: nowrap; }

#call-icons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

#call-helpers {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #bdbdbd; }
  #call-helpers > span:first-child {
    -webkit-flex: 0 1 75%;
    -ms-flex: 0 1 75%;
    flex: 0 1 75%;
    text-align: center;
    text-align: center;
    font-size: 10px;
    white-space: nowrap; }
  #call-helpers > span:nth-child(2) {
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    text-align: right;
    font-size: 10px;
    white-space: nowrap; }

#lk {
  font-size: 13px; }
  #lk:before {
    content: '';
    width: 14px;
    height: 15px;
    background: url(../i/user.png) left top no-repeat;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.3em; }

#menu-line {
  font-family: 'SEGOEUIL';
  text-align: center;
  background: #0480b4; }
  #menu-line ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #menu-line ul > li a {
      display: block;
      padding: 0.7em 0.45em;
      text-transform: uppercase;
      font-size: 12px;
      color: white;
      text-decoration: none; }
      #menu-line ul > li a:hover {
        color: #aae324; }

#top-search-form {
  padding: 26px 0; }
  #top-search-form form {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    #top-search-form form input[type=text] {
      border: solid 1px #0480b4;
      border-radius: 2px;
      padding: 0.65em;
      width: 100%; }
    #top-search-form form > * + * {
      padding-left: 2px; }
  #top-search-form #new-search {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fcb00+0,7cb000+100 */
    background: #8fcb00;
    /* Old browsers */
    background: -moz-linear-gradient(top, #8fcb00 0%, #7cb000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8fcb00 0%, #7cb000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8fcb00 0%, #7cb000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fcb00', endColorstr='#7cb000',GradientType=0 );
    /* IE6-9 */
    border-radius: 3px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #top-search-form #new-search > div {
      color: white;
      line-height: 1;
      text-align: center; }
  #top-search-form #from-input {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%; }
    #top-search-form #from-input input {
      background: url(../i/plane-up.png) 0.7em center no-repeat;
      padding-left: 34px; }
  #top-search-form #to-input {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%; }
    #top-search-form #to-input input {
      background: url(../i/plane-down.png) 0.7em center no-repeat;
      padding-left: 34px; }
  #top-search-form #search-submit {
    -webkit-flex: 0 0 75px;
    -ms-flex: 0 0 75px;
    flex: 0 0 75px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    #top-search-form #search-submit > input {
      width: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6700+0,dd5900+100 */
      background: #ff6700;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ff6700 0%, #dd5900 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #ff6700 0%, #dd5900 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #ff6700 0%, #dd5900 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6700', endColorstr='#dd5900',GradientType=0 );
      /* IE6-9 */
      border-radius: 3px;
      border: none;
      color: white;
      text-transform: uppercase;
      font-weight: bold; }
      #top-search-form #search-submit > input:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fd8738+0,e67730+100 */
        background: #fd8738;
        /* Old browsers */
        background: -moz-linear-gradient(top, #fd8738 0%, #e67730 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #fd8738 0%, #e67730 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #fd8738 0%, #e67730 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8738', endColorstr='#e67730',GradientType=0 );
        /* IE6-9 */ }
  #top-search-form #date-input-1, #top-search-form #date-input-2, #top-search-form #passengers-input {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%; }
  #top-search-form .close {
    width: 19px;
    height: 19px;
    right: 5px;
    top: 50%;
    margin-top: -10px;
    z-index: 10;
    position: absolute;
    background: url(../i/cross.png) center center no-repeat; }
  #top-search-form #date-input-1:after {
    width: 19px;
    height: 19px;
    right: 5px;
    top: 50%;
    margin-top: -10px;
    content: '';
    background: url(../i/calendar.png) right center no-repeat;
    z-index: 10;
    position: absolute; }
  #top-search-form #passengers-input .pass-border {
    border: solid 1px #0480b4;
    border-radius: 2px;
    padding-right: 35px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 2px;
    bottom: 0;
    right: 0; }
    #top-search-form #passengers-input .pass-border > div {
      padding: 0.65em;
      overflow: hidden; }
  #top-search-form #passengers-input .drop-down {
    width: 19px;
    height: 19px;
    right: 5px;
    top: 50%;
    margin-top: -10px;
    background: url(../i/arrow-down.png) right center no-repeat;
    z-index: 10;
    position: absolute; }

#change-from-to {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #0480b4 url(../i/tuda-suda.png) center center no-repeat;
  top: 50%;
  margin-top: -13px;
  right: -14px;
  z-index: 10; }

.ui-widget {
  font-family: 'Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif; }

.ui-datepicker {
  background: #fff;
  border-color: #0480b4;
  margin-top: 2px; }
  .ui-datepicker .ui-datepicker-header {
    background: none;
    border: none;
    border-radius: 0;
    color: #0480b4;
    border-bottom: solid 1px #929292; }
  .ui-datepicker .ui-datepicker-prev span {
    background: url(../i/date-backward.png) center center no-repeat; }
  .ui-datepicker .ui-datepicker-next span {
    background: url(../i/date-forward.png) center center no-repeat; }
  .ui-datepicker .ui-datepicker-prev.ui-state-hover, .ui-datepicker .ui-datepicker-next.ui-state-hover {
    border: none;
    background: none; }
  .ui-datepicker .ui-datepicker-calendar td {
    text-align: center; }
  .ui-datepicker .ui-state-default {
    border: none;
    background: none;
    color: black;
    font-weight: normal;
    text-align: center;
    border-radius: 100%;
    width: 2em;
    padding: 0.3em 0;
    margin: -0.2em 0;
    display: inline-block; }
    .ui-datepicker .ui-state-default.ui-state-highlight {
      background: #bdbdbd; }
    .ui-datepicker .ui-state-default.ui-state-active {
      background: #0480b4;
      color: white; }

#passengers-popup {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 2px;
  border: solid 1px #0480b4;
  border-radius: 3px;
  width: 21em;
  padding: 1.5em 1em; }
  #passengers-popup input[type=number] {
    border: solid 1px #bdbdbd;
    width: 2em;
    -moz-appearance: textfield; }
    #passengers-popup input[type=number]::-webkit-inner-spin-button, #passengers-popup input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; }
  #passengers-popup .adult {
    padding-bottom: 15px;
    border-bottom: solid 1px #929292;
    padding-left: 30px; }
    #passengers-popup .adult:before {
      content: '';
      width: 15px;
      height: 29px;
      background: url(../i/adult.png) center center no-repeat;
      position: absolute;
      top: -3px;
      left: 3px; }
  #passengers-popup .child {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #929292;
    padding-left: 30px; }
    #passengers-popup .child:before {
      content: '';
      width: 11px;
      height: 19px;
      background: url(../i/child.png) center center no-repeat;
      position: absolute;
      top: 15px;
      left: 4px; }
    #passengers-popup .child ul {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 0.5em; }
      #passengers-popup .child ul li + li {
        margin-top: 0.5em; }
  #passengers-popup .baby {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #929292;
    padding-left: 30px; }
    #passengers-popup .baby:before {
      content: '';
      width: 15px;
      height: 20px;
      background: url(../i/baby.png) center center no-repeat;
      position: absolute;
      top: 15px;
      left: 3px; }
  #passengers-popup .business-class {
    padding-top: 15px; }

.bysides {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.number-with-spinners > span {
  display: inline-block;
  vertical-align: middle; }
.number-with-spinners .minus, .number-with-spinners .plus {
  height: 1.65em;
  border: solid 1px #bdbdbd;
  width: 1.65em;
  text-indent: -9999px; }
.number-with-spinners .minus {
  background: url(../i/minus.png) center center no-repeat; }
.number-with-spinners .plus {
  background: url(../i/plus.png) center center no-repeat; }
.number-with-spinners input {
  height: 1.65em; }

#alternate-price .max-width {
  padding: 0 2.5em; }

#alternate-header ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  #alternate-header ul > li {
    display: inline; }
    #alternate-header ul > li + li {
      margin-left: 1em; }
#alternate-header .cheap:after, #alternate-header .recommended:after {
  display: none; }
#alternate-header .cheap:before, #alternate-header .recommended:before {
  margin-right: 0.3em; }

#alt-title {
  text-transform: uppercase; }

.cheap:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #ff8400 transparent;
  content: '';
  display: inline-block; }
.cheap:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #ff8400 transparent transparent transparent;
  content: '';
  display: inline-block; }

.recommended:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #8fcb00 transparent;
  content: '';
  display: inline-block; }
.recommended:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #8fcb00 transparent transparent transparent;
  content: '';
  display: inline-block; }

#results-header {
  background: #3e3e3e;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0.35em 0; }

.gt {
  background: url(../i/gt.png);
  width: 8px;
  height: 12px;
  display: inline-block;
  vertical-align: -0.05em;
  margin: 0 0.5em; }

#src-dst {
  font-weight: bold; }

#res-dates {
  color: #d1d1d1;
  margin-left: 2em; }

#two-cols > .max-width {
  padding-top: 0.5em;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  #two-cols > .max-width #col1 {
    -webkit-flex: 0 0 200px;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px; }
  #two-cols > .max-width #col2 {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }

.block {
  padding-bottom: 1em;
  border-bottom: solid 1px #929292;
  margin-bottom: 1em; }
  .block h2 {
    text-transform: uppercase;
    color: #0480b4;
    font-weight: normal; }

.radios > li {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .radios > li > span:first-child {
    width: 40px; }
  .radios > li > label {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .radios > li + li {
    margin-top: 0.8em; }

/*# sourceMappingURL=style.css.map */
