.subscribe {
  background: #ffffff;
  padding:20px;
  border: solid 1px $blue;
  border-radius: 3px;
}

.chooser {
  height:40px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 3px;

  &:not(.chosen) {
    @include blue-gradient();
    color:white;
    &:hover {
      @include blue-hover-gradient();
    }
  }

  &.chosen {
    color:$blue;
    @include grey-hover-gradient();
    box-shadow: inset 0 0 0 1px $blue;
  }
}


.routeoneway, .route2ways {
  width:40px;
  &:after {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:'';
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.routeoneway {
  &:after {
    background-image: url(../i/1planew.png);
  }
  &.chosen {
    &:after {
      background-image: url(../i/1plane.png);
    }
  }
}

.route2ways {
  &:after {
    background-image: url(../i/2planesw.png);
  }
  &.chosen {
    &:after {
      background-image: url(../i/2planes.png);
    }
  }
}

.direction {
  @include from-input();

  &.back {
    &:before {
      @include transform(rotate(-180deg));
    }
  }
}

.bluelabel {
  height:30px;
  line-height: 30px;
  display: block;
  @include blue-gradient();
  color:white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding:0 3px;
  &:hover {
    @include blue-hover-gradient();
  }

  input:checked + & {
    @include grey-hover-gradient();
    box-shadow: inset 0 0 0 1px $blue;
    color:$blue;
  }
}

.place-subscr {
  input {
    height: 40px;
    line-height: 40px;
    &[type=text] {
      padding-left:10px;
    }
  }
}

.subscribefilters {
  padding:0 30px;
}

.ques {
  margin-left:0.4em;
  margin-right:0.4em;
  cursor:pointer;
  position: relative;
  color:white;
  >span {
    position: relative;
    z-index: 1;
  }
  &:after {
    position: absolute;
    top:50%;
    left:50%;
    width:1.2em;
    height:1.2em;
    margin:-0.6em 0 0 -0.6em;
    content: '';
    background: $green;
    border-radius: 50%;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  .ttip {
    position: absolute;
    width:180px;
    bottom:100%;
    left:50%;
    margin:0 0 0px -90px;

    border-radius: 3px;
    padding:4px;
    background: $blue;
    color:white;
    text-align: center;

    pointer-events: none;
    opacity:0;
    @include transition(opacity 0.2s, transform 0.1s);
    box-shadow: 0px 3px 6px 0px rgba(black, 0.2);

    &:after {
      position: absolute;
      top:100%;
      left:50%;
      margin-left:-10px;
      width:20px;
      height:5px;
      content: '';
      background: url(../i/tail-blue.svg);
    }
  }

  &:hover {
    z-index: 1000;
    .ttip {
      z-index: 1000;
      opacity:1;
      @include transform(translateY(-10px));
    }
  }
}