.ticket {
  box-shadow: inset 0 0 0 1px #777777;
  border-radius: 2px;
  background: #ffffff;
  margin-left:9px;
}

.ticket-price {
  min-width: 190px;
  @include flex(0 0 20%);
  padding:10px 15px;

}

.ticket-aircompany {
  @include flex-direction(column);
  @include flex(1 1 100px);
  padding:0 10px 0 20px;
  .wayback & {
    //@include flex-direction(column-reverse);
  }
  img {
    max-width: 100%;
    line-height: 1;
    display: block;
    margin:0 auto;
  }
}

.ticket-luggage {
  @include justify-content(space-around);
  @include flex-direction(column);
  @include flex(1 1 80px);
  max-width: 110px;

  >* {
    &:not(:last-child) {
      margin-bottom:5px;
    }
    &:not(:first-child) {
      margin-top:5px;
    }
  }
}

.ticket-data {
  @include flex(1 0 290px);
}

.ticket-duration {
  border-bottom:dashed 1px black;
  height:1px;

  &:before, &:after {
    position: absolute;
    border-radius: 5px;
    background: #000;
    content: '';
    width:7px;
    height:7px;
    top:-3px;
  }

  &:before {
    left:-3px;
  }
  &:after {
    right:-3px;
  }
}

.ticket-invis {
  visibility: hidden;
}

.ticket-date {
  position: absolute;
  top: 0;
  white-space: nowrap;
  &.back {
    right: 0;
  }
}

.ticket-info {

}

.padder20 {
  min-width: 5px;
  @include flex(0 1 10px);
}

.ticket-row {
  @include justify-content(space-between);
  padding:20px 0;
  box-shadow: inset 0 0 0 1px #777777;

  >* {
    &:not(:last-child) {
      margin-right:5px;
    }
    &:not(:first-child) {
      margin-left:5px;
    }
  }

  border-radius: 2px;
  +.ticket-row {
    margin-top:-1px;
  }

  &:before {
    position: absolute;
    top:0;
    bottom:0;
    right:100%;
    width:9px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    content: '';
  }

  &.waythere {
    &:before {
      background: $blue;
    }
  }

  &.wayback {
    &:before {
      background: $orange;
    }
  }
}

.comfort-icon {
  width:20px;
  img {
    max-width: 100%;
    margin:0 auto;
    display: block;
    line-height: 1;
  }
}

body .ui-tooltip {
  border:none;
  border-radius: 5px;
  box-shadow: 0 3px 8px 1px rgba($blue ,0.15);
  background: $blue;
  color:white;
  font-size: 14px;
  padding:5px 15px;
}

.ui-tooltip, .arrow:after {
  background: $blue;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

.ticket-hint {
  z-index: 1;
  padding:4px 10px;
  +.ticket {
    margin-top:-1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.ticket-ac-and-comfort {
  @include flex(1 0 220px);
  max-width: 300px;

  >* {
    &:not(:last-child) {
      margin-right:5px;
    }
    &:not(:first-child) {
      margin-left:5px;
    }
  }
}


@mixin mobile-ticket() {
  .ticket-ac-and-comfort {
    max-width: none;
    >* {
      &:not(:last-child) {
        margin-right:10px;
        margin-left:0;
      }
      &:not(:first-child) {
        margin-left:0;

      }
    }
    @include flex(none);
    @include align-items(center);
  }
  .ticket-aircompany {
    @include flex(none);
    @include flex-direction(row);
    >* {
      &:not(:last-child) {
        margin-right:5px;
        margin-bottom:inherit;
      }
      &:not(:first-child) {
        margin-left:5px;
        margin-top:inherit;
      }
    }
  }
  .ticket-row {
    @include flex-direction(column-reverse);
    padding:10px;
    @include flex(none);

    >* {
      &:not(:last-child) {
        margin-right:inherit;

      }
      &:not(:first-child) {
        margin-left:inherit;

      }
    }
  }

  .ticket-luggage {
    @include justify-content(flex-end);
    @include flex-direction(row);
    @include flex(1);
    max-width: none;
    >* {
      &:not(:last-child) {
        margin-right:5px;
        margin-bottom:inherit;
      }
      &:not(:first-child) {
        margin-top:inherit;
        margin-left:5px;
      }
    }
  }

  .padder20 {
    display: none;
  }

  .ticket-data {
    @include flex(none);
    margin-bottom: 15px;
  }

  .ticket-info {
    @include flex(none);
  }
}

.ticket {
  &.like-mobile {
    @include mobile-ticket();
  }
}

.price-icon {
  width:10px;
  img {
    @include transform(translateY(-1px));
  }
}