<!DOCTYPE html>
<html ng-app="test">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>bron</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link href="js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" type="text/css">
  <script src="js/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/jquery.selectric.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>


  <link rel="stylesheet" type="text/css" href="css/flexslider.css"/>
  <link rel="stylesheet" type="text/css" href="css/selectric.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css?2"/>
  <script src="js/script.js"></script>
  <style>
    .max-width {
      max-width: {{width}}px;
    }
  </style>
</head>
<body class="bron">
<div id="statusbar">
  <div class="max-width">
    <div>
      <div class="wsn">
        ОНЛАЙН-ТАБЛО: <a href="/">Домодедово</a> (DME) <a href="/">Шереметьево</a> (SVO) <a href="/">Внуково</a> (VKO)
      </div>
    </div>
    <div class="separator"></div>
    <div>
      <div id="links-block">
        <div id="safety"><a href="/">Абсолютная
          безопасность платежей</a></div>
        <div><a href="/">Публичная
          оферта</a></div>
      </div>
    </div>
    <div class="separator"></div>
    <div>
      <div id="smm">
        <div class="wsn">Акции, розыгрыши,<br>
          новости, отзывы о нас
        </div>
        <div class="f d space4">
          <a href="/" class="f vcen hcen tdn social">
            <i class="fa fa-vk"></i>
            <!--div class="swap ib"><img src="i/vk.png"><img src="i/vk-color.png"></div-->
          </a>
          <a href="/" class="f vcen hcen tdn social">
            <i class="fa fa-facebook"></i>
            <!--div class="swap ib"><img src="i/f.png"><img src="i/f-color.png"></div-->
          </a>
          <a href="/" class="f vcen hcen tdn social">
            <i class="fa fa-instagram"></i>
            <!--div class="swap ib"><img src="i/in.png"><img src="i/in-color.png"></div-->
          </a>
          <a href="/" class="f vcen hcen tdn social">
            <i class="fa fa-twitter"></i>
            <!--div class="swap ib"><img src="i/tw.png"><img src="i/tw-color.png"></div-->
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="totop"><a href="#top"></a></div>
</div>
<div id="top">
  <div class="max-width">
    <div id="logo">
      <a ng-init="width=1400" ng-click="width= (width==1024) ? 1400 : 1024">
        <div>
          <div><img src="/i/logo.png"></div>
          <div class="afut" id="sitename-and-slogan">
            <div id="sitename"><span class="green">biletideshevo</span><span class="blue">.ru</span></div>
            <div id="slogan" class="blue">
              Лучшие цены на авиабилеты<br>
              Европейское качество обслуживания
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="sep"></div>
    <div id="partners">
      <div>
        <h4>Наши партнеры:</h4>

        <div class="swap"><img src="i/sber.png"><img src="i/sber-color.png"></div>
        <div class="swap"><img src="i/ingos.png"><img src="i/ingos-color.png"></div>
      </div>
      <div>
        <h4>Нас рекомендуют:</h4>

        <div class="swap"><img src="i/rbc.png"><img src="i/rbc-color.png"></div>
        <div class="swap"><img src="i/national.png"><img src="i/national-color.png"></div>
      </div>
    </div>
    <div class="sep"></div>
    <div id="phones">
      <p class="blue"><a class="phon tdn" href="tel:+74951501182">+7 495 150-11-82</a><br>
        <span class="phon desktop">8 800 234 5 99 5</span></p>

      <p class="grey">с 9:00 до 23:00</p>
    </div>
    <div class="sep"></div>
    <div id="personal">
      <div id="call-variants">
        <div id="call-icons">
          <img src="i/viber.png">
          <img src="i/skype.png">
          <img src="i/whatsapp.png">
          <img src="i/email.png">
        </div>
        <div id="call-helpers">
          <span>Позвонить онлайн</span>
          <span>Email</span>
        </div>
      </div>
      <div><a href="/" id="lk">Личный кабинет</a></div>
    </div>
  </div>
</div>
<div id="menu-line">
  <div id="buter"></div>
  <div class="max-width">
    <ul>
      <li><a href="/">Авиабилеты</a></li>
      <li><a href="/">Бронирование отелей</a></li>
      <li><a href="/">Бронирование авто</a></li>
      <li><a href="/">Ж\д билеты</a></li>
      <li><a href="/">Билеты на автобус on-line</a></li>
      <li><a href="/">О компании</a></li>
      <li><a href="/">Контакты</a></li>
      <li><a href="/">Отзывы о нас</a></li>
    </ul>
  </div>
</div>



<div id="order-form">
  <div id="results-header">
    <div class="max-width">
      <span id="src-dst">Москва     <span class="gt"></span>   Санкт-петербург    <span class="gt"></span>    Москва</span>
      <span id="res-dates">25 ноября - 5 декабря</span>
    </div>
  </div>

  <div id="order-cols" class="max-width">
    <div id="ocl">
      <div id="flight-info">
        <div id="flight-info-title" class="col-title revealer" ng-class="showI ? 'shown' : ''" ng-click="showI=!showI">
          Информация о рейсе
        </div>

        <div class="result without-price ss-mb20 slide" ng-show="showI">
          <div class="result-cols">
            <div class="col-trip-info rounded">
              <div class="trip-grey-row trip-there-grey trip-row">
                <div class="trip-col1 flex-center">
                  <div class="plane-model">Airbus 321</div>
                </div>
                <div class="trip-col2 flight-params">
                  <div class="flex-center">
                    <div class="luggage">Багаж 20&nbsp;кг</div>
                  </div>
                  <div class="flex-center">
                    <div class="bag">Ручная кладь 5&nbsp;кг</div>
                  </div>
                  <div class="flex-center">
                    <div class="chair">Класс: эконом</div>
                  </div>
                </div>
              </div>
              <div class="trip-there" ng-hide="hideThere">

                <div class="trip-white-row trip-row">
                  <div class="trip-col1 flex-center">
                    <div class="company-name-and-logo">
                      <img src="i/nordstar.png"><br>
                      Nord Star Airlines
                    </div>
                  </div>
                  <div class="trip-col2 times-row">
                    <div class="flex-center">
                      <div>
                        <div class="tm">15:30</div>
                        <div class="dt blue">30 ноября 2015, пн</div>
                        <div class="pls">Санкт-Петербург <span class="grey">LED</span></div>
                      </div>
                    </div>
                    <div class="flex-center">
                      <div>
                        2 ч 30 м<br>
                        <span class="grey">прямой</span>
                      </div>
                    </div>
                    <div class="flex-center">
                      <div>
                        <div class="tm">15:30</div>
                        <div class="dt blue">30 ноября 2015, пн</div>
                        <div class="pls">Санкт-Петербург <span class="grey">LED</span></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="trip-help">
                <div class="trip-white-row trip-row">
                  <div class="trip-col1 flex-center">
                    <div></div>
                  </div>
                  <div class="trip-col2 blue-row {{hideThere ? 'only-back' : ''}}">
                    <div class="flex-center">
                      <div class="smaller white-plane">Вылет</div>
                    </div>
                    <div class="flex-center">
                      <div class="smaller clock">Время в пути</div>
                    </div>
                    <div class="flex-center">
                      <div class="smaller white-plane down">Прилет</div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="trip-back">
                <div class="trip-white-row trip-row">
                  <div class="trip-col1 flex-center">
                    <div class="company-name-and-logo"><img src="i/nordstar.png"><br>
                      Nord Star Airlines</div>
                  </div>
                  <div class="trip-col2 times-row">
                    <div class="flex-center">
                      <div>
                        <div class="tm">15:30</div>
                        <div class="dt blue">30 ноября 2015, пн</div>
                        <div class="pls">Санкт-Петербург <span class="grey">LED</span></div>
                      </div>
                    </div>
                    <div class="flex-center">
                      <div>
                        2 ч 30 м<br>
                        <span class="grey">прямой</span>
                      </div>
                    </div>
                    <div class="flex-center">
                      <div>
                        <div class="tm">15:30</div>
                        <div class="dt blue">30 ноября 2015, пн</div>
                        <div class="pls">Санкт-Петербург <span class="grey">LED</span></div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>

          </div>
          <div class="result-cols grey-cols inner-top-shadow">
            <div class="col-trip-info">
              <div class="trip-back-grey trip-row">
                <div class="trip-col1 flex-center">
                  <div class="plane-model">Airbus 321</div>
                </div>
                <div class="trip-col2 flight-params">
                  <div class="flex-center">
                    <div class="luggage">Багаж 20&nbsp;кг</div>
                  </div>
                  <div class="flex-center">
                    <div class="bag">Ручная кладь 5&nbsp;кг</div>
                  </div>
                  <div class="flex-center">
                    <div class="chair">Класс: эконом</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div id="go-to-search">
        <div id="subscribe-form" class="flex1">
          <form>
            <h2>Цена на авиабилет может снизиться</h2>
            <div class="bysides inputshadow">
              <div class="flex1 bysides"><input type="email" placeholder="Ваш email" class="flex1"></div>
              <div><input type="submit" value="Следить за ценой" class="button-grey"></div>
            </div>
          </form>
        </div>
        <div>
          <a href="/" class="blue-button aib multiline"><div class="fz11">Цена авиабилетов на
          альтернативные&nbsp;даты</div></a>
        </div>
        <div>
          <a href="/" class="green-button aib multiline"><div class="fz11">Новый поиск</div></a>
        </div>
      </div>

      <div id="responses">
        <h2 id="resp-title">Отзывы покупателей</h2>
        <ul class="slides">
          <li ng-repeat="l in [1,1,1,1,1,1,1] track by $index">
            <div class="photo-and-date">
              <img src="i/default.png">
              <div>28 сентября 2014 года в 18:17</div>
            </div>
            <div class="response-body">
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
              <div class="show-full-and-check-response">
                <div>
                  <a href="/" class=""><div class="">Проверить отзыв</div></a>
                </div>
                <a href="/" class="blue-button aib multiline"><div class="">Прочесть полностью</div></a>
              </div>
            </div>
          </li>
        </ul>
      </div>



      <div id="aeroexpress" class="mt20">
        <!--div class="bysides">
          <div id="aeroexpress-title">
            <h2>В аэропорт без пробок и очередей</h2>
          </div>
          <div id="aeroexpress-logo"></div>
        </div-->
        <div class="f d vcen space40">
          <div class="flex1 blue ttu">В&nbsp;аэропорт без&nbsp;пробок и&nbsp;очередей</div>
          <div id="aeroexpress-logo"><img src="i/aeroexpress.png"></div>
        </div>

        <div class="mt10 f hcen vcen space10">
          <div class="f vcen space8">
            <img src="i/greytrain.png">
            <div class="fz16">Белорусский</div>
          </div>
          <div class="fa fa-chevron-right blue"></div>
          <div class="f vcen space8">
            <img src="i/greyplane.png">
            <div class="fz16">Шереметьево</div>
          </div>
        </div>

        <div class="mt10 f vcen hcen space12">
          <div>21января 2016</div>
          <div class="fa fa-clock-o grey"></div>
          <div class="blue">с 05:30 по 00:30</div>
        </div>

        <div class="mt10 revealer {{showAero ? 'shown' : ''}}" ng-click="showAero=!showAero">
          <div class="blue fwb">Расписание аэроэкспрессов</div>
        </div>
        <div class="reveal-what ebebeb">
          <div class="p10">
          <div class="f d tac blue">
            <div class="flex1">
              <div class="fz16">Белорусский</div>
              <div>отправление</div>
            </div>
            <div class="fa fa-chevron-right" style="color:#ebebeb;"></div>
            <div class="flex1">
              <div class="fz16">Шереметьево</div>
              <div>прибытие</div>
            </div>
          </div>
          <div class="mt10 mb20 aeroexpress-timetable">
            <div class="border-split">
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
              <div class="f d tac">
                <div class="flex1">05:30</div>
                <div class="fa fa-chevron-right lightgrey"></div>
                <div class="flex1">05:30</div>
              </div>
            </div>
          </div>
          </div>
        </div>


        <div class="aeroexpress-ticket mt10 p10">
          <div class="tac">Пассажиры от&nbsp;5&nbsp;лет</div>
          <div class="fwb fz20 tac mt10">470 <span class="rub">Р</span></div>
          <div class="f d vcen mt10 space20">
            <div>
              <div class="number-with-spinners ss-h35"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
            </div>

              <input type="button" value="Добавить к покупке" class="green-button aib flex1">

          </div>
        </div>

        <div class="aeroexpress-ticket mt10 p10">
          <div class="tac">Пассажиры до&nbsp;5&nbsp;лет</div>
          <div class="fwb fz20 tac mt10">0 <span class="rub">Р</span></div>
          <div class="f d vcen mt10 space20">
            <div>
              <div class="number-with-spinners ss-h35"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
            </div>
              <input type="button" value="Добавлено к покупке" class="white-button aib flex1">
          </div>
        </div>
      </div>
    </div>

    <div id="ocr">
      <div id="passengers-data">
        <div class="col-title">Бронирование рейса</div>

        <div class="form-group">
          <div class="ttu blue">Покупатель</div>

          <label class="f vbot input-pholder mt10" ng-class="buyer ? 'not-empty' : ''">
            <input type="text" name="fio" class="flex1 fz15" ng-model="buyer">
            <span class="pholder">Ваше имя</span>
          </label>

          <label class="f vbot input-pholder mt10 not-empty">
            <div class="f ss-space10 d flex1 ss-rr ws-rr">
              <input type="text" class="flex1" value="+7">
              <div class="mobile-select">
                <select class="selectric countrycode">
                  <option value="+7" data-flag="i/flag.png">Россия</option>
                  <option value="+90" data-flag="i/greece.png">Грузия</option>
                  <option value="+383" data-flag="i/flag.png">Россия</option>
                  <option value="+900" data-flag="i/greece.png">Украина</option>
                  <option value="+1" data-flag="i/flag.png">США</option>
                  <option value="+800" data-flag="i/greece.png">Зимбабве</option>
                </select>
              </div>
            </div>
            <span class="pholder">Мобильный телефон</span>
          </label>

          <label ng-if="true" class="f vbot input-pholder mt10" ng-class="m ? 'not-empty' : ''">
            <input type="text" name="fio" class="flex1 fz15" ng-model="m">
            <span class="pholder">Ваш email</span>
          </label>

          <div class="mt10 ws-nd revealer" ng-class="showPass ? 'shown' : ''" ng-click="showPass=!showPass">
            <div class="f d vcen">
              <div class="flex1 blue">
                1 пассажир, эконом-класс
              </div>
            </div>
          </div>
          <div class="ebebeb slide" ng-show="showPass">
            <div class="p10">
              <div class="border-split bs15">
                <div class="f d vcen space10">
                  <div class="tac passenger-pic"><img src="i/adult.png"></div>
                  <div class="flex1">Взрослые</div>
                  <div>
                    <div class="number-with-spinners ss-h35"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
                  </div>
                </div>
                <div>
                  <div class="f d vcen space10" ng-init="children=[13,14]; co=children.length;">
                    <div class="tac passenger-pic"><img src="i/child.png"></div>
                    <div class="flex1">Дети до 14 лет</div>
                    <div>
                      <div class="number-with-spinners ss-h35"><span class="minus" ng-click="children.pop(); co=children.length;">−</span><input type="number" ng-model="co" step="1" min="0"><span class="plus" ng-click="children.push(0); co=children.length;">+</span></div>
                    </div>
                  </div>
                  <div class="f d vcen space10 mt15" ng-repeat="child in children track by $index">
                    <div class="tac passenger-pic"></div>
                      <div class="flex1">Возраст {{$index+1}}-го ребенка</div>
                      <div>
                        <div class="number-with-spinners ss-h35"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=child;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
                      </div>
                  </div>
                </div>
                <div class="f d vcen space10">
                  <div class="tac passenger-pic"><img src="i/baby.png"></div>
                  <div class="flex1">
                    Дети до 2 лет
                    <div class="grey fz11">без места</div>
                  </div>
                  <div>
                    <div class="number-with-spinners ss-h35"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
                  </div>
                </div>
                <div>
                  <label class="f d vcen space4">
                    <input type="checkbox">
                    <div class="flex1">Бизнес-класс</div>
                  </label>
                </div>

              </div>
              <!--div class="mt20 f">
                <a class="cancel-button flex1 tac">Закрыть</a>
              </div-->
            </div>
          </div>

        </div>

        <div class="form-group">
          <div class="f d vcen">
            <div class="blue ttu">Пассажир 1</div>

          </div>

          <div class="f d space2">
            <label ng-if="true" class="f vbot input-pholder flex60" ng-class="buyer ? 'not-empty' : ''">
              <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
              <span class="pholder">Фамилия</span>
            </label>
            <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
              <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
              <span class="pholder">Имя</span>
            </label>
          </div>

          <div class="f d space2">
            <div ng-if="true" class="f vbot input-pholder not-empty">
              <div class="f space8 vbot">
                <label class="f space2"><input type="radio" ng-model="buyer" value="1"> <span>М</span></label>
                <label class="f space2"><input type="radio" ng-model="buyer" value="2"> <span>Ж</span></label>
              </div>
              <span class="pholder">Пол</span>
            </div>
            <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
              <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholder='ДД.ММ.ГГГГ'" ng-blur="placeholder=''" placeholder="{{placeholder}}">
              <span class="pholder">Дата рождения</span>
            </label>
          </div>

          <label ng-if="true" class="f vbot input-pholder flex1 mt10 mobile-select" ng-class="buyer ? 'not-empty' : ''">
            <select class="selectric citizenship" ng-model="buyer">
              <option></option>
              <option value="Georgia" data-flag="i/flag.png">Албания</option>
              <option value="Georgia" data-flag="i/greece.png">Грузия</option>
              <option value="Georgia" data-flag="i/flag.png">Россия</option>
              <option value="Georgia" data-flag="i/greece.png">Украина</option>
              <option value="Georgia" data-flag="i/flag.png">США</option>
              <option value="Georgia" data-flag="i/greece.png">Зимбабве</option>
            </select>
            <span class="pholder">Гражданство</span>
          </label>

          <label ng-if="true" class="f vbot input-pholder flex1 mt10 mobile-select" ng-class="buyer ? 'not-empty' : ''">
            <select class="selectric doctype" ng-model="buyer">
              <option value="Загранпаспорт гражданина РФ">Загранпаспорт гражданина РФ</option>
              <option value="Паспорт гражданина РФ">Паспорт гражданина РФ</option>
              <option value="Passport is not Russia">Passport is not Russia</option>
              <option value="Паспорт гражданина не РФ">Паспорт гражданина не РФ</option>
            </select>
            <span class="pholder">Документ</span>
          </label>

          <div class="f d space2 mt10">
            <label ng-if="true" class="f vbot input-pholder" ng-class="buyer ? 'not-empty' : ''">
              <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
              <span class="pholder">Серия</span>
            </label>
            <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
              <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
              <span class="pholder">Номер</span>
            </label>
          </div>

          <label ng-if="true" class="f vbot input-pholder mt10" ng-class="buyer ? 'not-empty' : ''">
            <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholder='ДД.ММ.ГГГГ'" ng-blur="placeholder=''" placeholder="{{placeholder}}">
            <span class="pholder">Срок действия</span>
          </label>


          <div ng-include="'insurance.html'"></div>
        </div>

      </div>

      <div class="form-group" ng-init="show='sta'; chosen='sta'" ng-if="true">
        <div class="tac blue ttu">Услуги сервиса для вас, уважаемые&nbsp;клиенты</div>

        <div class="mt10 ws-nd revealer" ng-class="show=='sta' ? 'shown' : ''" ng-click="show = show=='sta' ? '' : 'sta'">
          <div class="f d vcen">
            <div class="flex1 blue">
              <span class="fa fa-check green" ng-show="chosen=='sta'"></span> Тариф Стандарт
            </div>
            <div><b>0 <span class="rub">Р</span></b></div>
          </div>
        </div>
        <div class="ebebeb slide" ng-show="show=='sta'">
          <div class="p10">
            <div class="border-split">
              <div class="f d vtop space20">
                <div>Оповещение в случае                  смены полётной информации</div>
                <div class="blue tar flex00auto">SMS,<br class="iphone"> email</div>
              </div>
              <div class="f d vtop space20">
                <div>Срок обработки заявки на возрат
                  или обмен авиабилета</div>
                <div class="blue tar flex00auto">4 раб.<br class="iphone"> дня</div>
              </div>
              <div class="f d vtop space20">
                <div>Возврат чартерного или
                  блочного авиабилета</div>
                <div class="blue tar flex00auto">Нет</div>
              </div>
              <div class="f d vtop space20">
                <div>Комиссия агентства за возрат
                  или обмен авиабилета</div>
                <div class="blue tar flex00auto">980&nbsp;<span class="rub">Р</span></div>
              </div>
            </div>
            <div class="mt20 f" ng-hide="chosen=='sta'">
              <a class="blue-button flex1 tac" ng-click="show=''; chosen='sta';" >Выбрать</a>
            </div>
          </div>
        </div>

        <div class="mt10 ws-nd revealer" ng-class="show=='pre' ? 'shown' : ''" ng-click="show = show=='pre' ? '' : 'pre'">
          <div class="f d vcen">
            <div class="flex1 blue">
              <span class="fa fa-check green" ng-show="chosen=='pre'"></span> Тариф Premium
            </div>
            <div><b>290&nbsp;<span class="rub">Р</span></b></div>
          </div>
        </div>
        <div class="ebebeb slide" ng-show="show=='pre'">
          <div class="p10">
            <div class="border-split">
              <div class="f d vtop space20">
                <div>Оповещение в случае                  смены полётной информации</div>
                <div class="blue tar flex00auto">SMS,<br class="iphone"> email</div>
              </div>
              <div class="f d vtop space20">
                <div>Срок обработки заявки на возрат
                  или обмен авиабилета</div>
                <div class="blue tar flex00auto">2 раб.<br class="iphone"> дня</div>
              </div>
              <div class="f d vtop space20">
                <div>Возврат чартерного или
                  блочного авиабилета</div>
                <div class="blue tar flex00auto">Да</div>
              </div>
              <div class="f d vtop space20">
                <div>Комиссия агентства за возрат
                  или обмен авиабилета</div>
                <div class="blue tar flex00auto">480&nbsp;<span class="rub">Р</span></div>
              </div>
              <div class="f d vtop space20">
                <div>Персональный менеджер</div>
                <div class="blue tar flex00auto">Нет</div>
              </div>
            </div>
            <div class="mt20 f" ng-hide="chosen=='pre'">
              <a class="blue-button flex1 tac" ng-click="show=''; chosen='pre';" >Выбрать</a>
            </div>
            <div class="mt20 f" ng-show="chosen=='pre'">
              <a class="cancel-button flex1 tac" ng-click="show=''; chosen='sta';" >Отменить</a>
            </div>
          </div>
        </div>

        <div class="mt10 ws-nd revealer" ng-class="show=='exc' ? 'shown' : ''" ng-click="show = show=='exc' ? '' : 'exc'">
          <div class="f d vcen">
            <div class="flex1 blue">
              <span class="fa fa-check green" ng-show="chosen=='exc'"></span> Тариф Exclusive
            </div>
            <div><b>790&nbsp;<span class="rub">Р</span></b></div>
          </div>
        </div>
        <div class="ebebeb slide" ng-show="show=='exc'">
          <div class="p10">
            <div class="border-split">
              <div class="f d vtop space20">
                <div>Оповещение в случае                  смены полётной информации</div>
                <div class="blue tar flex00auto">SMS, email,<br class="iphone"> звонок</div>
              </div>
              <div class="f d vtop space20">
                <div>Срок обработки заявки на возрат
                  или обмен авиабилета</div>
                <div class="blue tar flex00auto">1 раб.<br class="iphone"> день</div>
              </div>
              <div class="f d vtop space20">
                <div>Возврат чартерного или
                  блочного авиабилета</div>
                <div class="blue tar flex00auto">Да</div>
              </div>
              <div class="f d vtop space20">
                <div>Комиссия агентства за возрат
                  или обмен авиабилета</div>
                <div class="blue tar flex00auto">480&nbsp;<span class="rub">Р</span></div>
              </div>
              <div class="f d vtop space20">
                <div>Персональный менеджер</div>
                <div class="blue tar flex00auto">Да</div>
              </div>
            </div>
            <div class="mt20 f" ng-hide="chosen=='exc'">
              <a class="blue-button flex1 tac" ng-click="show=''; chosen='exc';" >Выбрать</a>
            </div>
            <div class="mt20 f" ng-show="chosen=='exc'">
              <a class="cancel-button flex1 tac" ng-click="show=''; chosen='sta';" >Отменить</a>
            </div>
          </div>
        </div>
      </div>



      <div class="form-group">
        <div class="ws-nd revealer {{showQ ? 'shown' : ''}}" ng-click="showQ=!showQ">
          <div class="blue fwb">
            Ваши комментарии и&nbsp;пожелания
          </div>
        </div>
        <div class="ebebeb slide" ng-show="showQ">
          <div class="p10 f">
            <textarea rows="5" class="flex1 plh"></textarea><div class="placeholder grey larger">Ваши комментарии и&nbsp;пожелания</div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="tac">
          <h2 class="blue ttu fwn fz16">Способ оплаты</h2>
          <p>Комиссия 0%</p>
        </div>
        <div class="f d vtop space8 tac">
          <label class="flex1">
            <div><input type="radio" name="payment" ng-click="payment='cards';"></div>
            <div><img src="i/payment-cards.png" class="payment-image"></div>
            <div>Банковской картой</div>
          </label>
          <label class="flex1">
            <div><input type="radio" name="payment" ng-click="payment='cash';"></div>
            <div><img src="i/payment-cash.png" class="payment-image"></div>
            <div>Наличными в&nbsp;офисе</div>
          </label>
          <label class="flex1">
            <div><input type="radio" name="payment" ng-click="payment='svyaznoy';"></div>
            <div><img src="i/payment-svyaznoy.png" class="payment-image"></div>
            <div>Салон связи Связной</div>
          </label>
          <label class="flex1">
            <div><input type="radio" name="payment" ng-click="payment='euroset';"></div>
            <div><img src="i/payment-euroset.png" class="payment-image"></div>
            <div>Салон связи Евросеть</div>
          </label>
        </div>
        <!--div>
          <h2 class="blue ttu fwn larger">Способ оплаты</h2>
          <p>Комиссия 0%</p>
        </div>
        <div class="bysides payments vtop tac becomewrap" ng-init="payment='cards';">
          <div class="flex1">
            <input type="radio" name="payment" id="p1" ng-click="payment='cards';">
            <label for="p1">
              <img src="i/visa-mastercard.png">
            </label>
          </div>
          <div class="flex1">
            <input type="radio" name="payment" id="p2" ng-click="payment='euroset';">
            <label for="p2">
              <img src="i/euroset.png">
            </label>
          </div>
          <div class="flex1">
            <input type="radio" name="payment" id="p3" ng-click="payment='svyaznoy';">
            <label for="p3">
              <img src="i/svyaznoy.png">
            </label>
          </div>
          <div class="flex1">
            <input type="radio" name="payment" id="p4">
            <label for="p4">
              <img src="i/qiwi.png">
            </label>
          </div>
          <div class="flex1">
            <input type="radio" name="payment" id="p5">
            <label for="p5">
              <img src="i/alfa.png">
            </label>
          </div>
        </div-->
      </div>


      <div class="form-group">
        <div class="bysides becomecol" ng-show="payment=='euroset'">
          <div class="w135 tac"><img src="i/euroset-l.png"></div>
          <div class="flex1 tac">
            <p>Ваш заказ сформирован и готов к оплате
            в салоне связи Евросеть<br><br>Оплату заказа необходимо произвести:<br>
            <span class="blue tm">05.01.2016</span> до <span class="blue tm">22:30</span></p>
          </div>
        </div>
        <div class="bysides becomecol" ng-show="payment=='svyaznoy'">
          <div class="w135 tac"><img src="i/svyaznoy-big.png"></div>
          <div class="flex1 tac">
            <p>Ваш заказ сформирован и готов к оплате
              в салоне связи Связной<br><br>Оплату заказа необходимо произвести:<br>
              <span class="blue tm">05.01.2016</span> до <span class="blue tm">22:30</span></p>
          </div>
        </div>
        <div ng-show="payment=='cards'">
          <p class="tac">Абсолютная гарантия платежей. Оплата происходит через
          авторизизационный сервер Процессингового цетра
          ПАО&nbsp;«Сбербанк&nbsp;России».</p>
          <p class="tac">К оплате принимаются банковские карты следующих платёжных систем</p>
          <div class="bysides cards-logos">
            <img src="i/visa-grey.png">
            <img src="i/mastercard-grey.png">
            <img src="i/visaelectron-grey.png">
            <img src="i/maestro-grey.png">
          </div>
        </div>
        <div class="grey smaller2 tac press-to-continue">Для продолжения бронирования нажмите: ОПЛАТИТЬ ДЕШЁВЫЙ АВИАБИЛЕТ</div>

        <div class="mt10">
          <label class="f d vtop space8"><span><input type="checkbox" checked></span> <span class="flex1">Я ознакомлен и согласен с <a href="/">правилами публичной оферты</a>         и <a href="/">условиями применения тарифа</a></span></label>
        </div>
        <div class="mt10">
          <label class="f d vtop space8"><span><input type="checkbox" checked></span> <span class="flex1">Согласен с <a href="df">условиями страхования</a></span></label>
        </div>
      </div>


      <div class="form-group">
        <div class="ss-fixed-final-price f d stretch">
          <div class="f hcen vcen space20 ss-space10 flex1 ss-p10">
            <div class="ss-fz10 lh1">Окончательная цена
              с учётом <br class="">всех сборов и налогов:</div>
            <div class="finalprice ss-fz24 lh1"><b>212&thinsp;338</b> <span class="rub">Р</span></div>
          </div>
          <div class="ws-nd f hcen vcen ss-p10 lh1" style="border-left:solid 1px #959595;"><div class="fa fa-chevron-up fz20" style="color:#959595;"></div></div>
        </div>
        <div class="tac">
          <input type="submit" value="Оплатить дешевый авиабилет" class="green-button ibm ttu">
        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>