<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>bron</title>
  <link href="js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" type="text/css">
  <script src="js/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/flexslider.css"/>
  <script src="js/script.js"></script>
  <style>
    .max-width {
      max-width: {{width}}px;
    }
  </style>
</head>
<body>
<div id="statusbar">
  <div class="max-width">
    <div>
      <div>
        ОНЛАЙН-ТАБЛО: <a href="/">Домодедово</a> (DME)   <a href="/">Шереметьево</a> (SVO)   <a href="/">Внуково</a> (VKO)
      </div>
    </div>
    <div class="separator"></div>
    <div>
      <div id="links-block">
        <div id="safety"><a href="/">Абсолютная<br>
          безопасность платежей</a></div>
        <div><a href="/">Публичная<br>
          оферта</a></div>
      </div>
    </div>
    <div class="separator"></div>
    <div>
      <div id="smm">
        <div>Акции, розыгрыши,<br>
          новости, отзывы о нас</div>
        <div>
          <a href="/"><div class="swap ib"><img src="i/vk.png"><img src="i/vk-color.png"></div></a>
          <a href="/"><div class="swap ib"><img src="i/f.png"><img src="i/f-color.png"></div></a>
          <a href="/"><div class="swap ib"><img src="i/in.png"><img src="i/in-color.png"></div></a>
          <a href="/"><div class="swap ib"><img src="i/tw.png"><img src="i/tw-color.png"></div></a>
        </div>
      </div>
    </div>
  </div>
  <div id="totop"><a href="#top"></a></div>
</div>
<div id="top">
  <div class="max-width">
    <div id="logo">
    <a ng-init="width=1024" ng-click="width= (width==1024) ? 1400 : 1024">
      <div>
        <div><img src="/i/logo.png"></div>
        <div class="afut" id="sitename-and-slogan">
          <div id="sitename"><span class="green">biletideshevo</span><span class="blue">.ru</span></div>
          <div id="slogan" class="blue">
            Лучшие цены на авиабилеты<br>
            Европейское качество обслуживания
          </div>
        </div>
      </div>
    </a>
    </div>
    <div class="sep"></div>
    <div id="partners">
      <div>
        <h4>Наши партнеры:</h4>
        <div class="swap"><img src="i/sber.png"><img src="i/sber-color.png"></div>
        <div class="swap"><img src="i/ingos.png"><img src="i/ingos-color.png"></div>
      </div>
      <div>
        <h4>Нас рекомендуют:</h4>
        <div class="swap"><img src="i/rbc.png"><img src="i/rbc-color.png"></div>
        <div class="swap"><img src="i/national.png"><img src="i/national-color.png"></div>
      </div>
    </div>
    <div class="sep"></div>
    <div id="phones">
      <p class="blue">+7 (495) 210-5-99<br>
      8 800 234 5 99 5</p>
      <p class="grey">с 9:00 до 23:00</p>
    </div>
    <div class="sep"></div>
    <div id="personal">
      <div id="call-variants">
        <div id="call-icons">
          <img src="i/viber.png">
          <img src="i/skype.png">
          <img src="i/whatsapp.png">
          <img src="i/email.png">
        </div>
        <div id="call-helpers">
          <span>Позвонить онлайн</span>
          <span>Email</span>
        </div>
      </div>
      <div><a href="/" id="lk">Личный кабинет</a></div>
    </div>
  </div>
</div>
<div id="menu-line">
  <div class="max-width">
    <ul>
      <li><a href="/">Авиабилеты</a></li>
      <li><a href="/">Бронирование отелей</a></li>
      <li><a href="/">Бронирование авто</a></li>
      <li><a href="/">Ж\д билеты</a></li>
      <li><a href="/">Билеты на автобус on-line</a></li>
      <li><a href="/">О компании</a></li>
      <li><a href="/">Контакты</a></li>
      <li><a href="/">Отзывы о нас</a></li>
    </ul>
  </div>
</div>

<div id="order-form">
  <div id="results-header">
    <div class="max-width">
      <span id="src-dst">Москва     <span class="gt"></span>   Санкт-петербург    <span class="gt"></span>    Москва</span>
      <span id="res-dates">25 ноября - 5 декабря</span>
    </div>
  </div>

  <div id="order-cols" class="max-width">
    <div id="ocl">
      <div class="col-title">Информация о рейсе</div>

      <div class="result without-price">
        <div class="result-cols">
          <div class="col-trip-info rounded">
            <div class="trip-grey-row trip-there-grey trip-row">
              <div class="trip-col1 flex-center">
                <div class="plane-model">Airbus 321</div>
              </div>
              <div class="trip-col2 flight-params">
                <div class="flex-center">
                  <div class="luggage">Багаж 20&nbsp;кг</div>
                </div>
                <div class="flex-center">
                  <div class="bag">Ручная кладь 5&nbsp;кг</div>
                </div>
                <div class="flex-center">
                  <div class="chair">Класс: эконом</div>
                </div>
              </div>
            </div>
            <div class="trip-there" ng-hide="hideThere">

              <div class="trip-white-row trip-row">
                <div class="trip-col1 flex-center">
                  <div class="company-name-and-logo">
                    <img src="i/nordstar.png"><br>
                    Nord Star Airlines
                  </div>
                </div>
                <div class="trip-col2 times-row">
                  <div class="flex-center">
                    <div>
                      <div class="tm">15:30</div>
                      <div class="dt blue">30 ноября 2015, пн</div>
                      <div class="pls">Санкт-Петербург <span class="grey">LED</span></div>
                    </div>
                  </div>
                  <div class="flex-center">
                    <div>
                      2 ч 30 м<br>
                      <span class="grey">прямой</span>
                    </div>
                  </div>
                  <div class="flex-center">
                    <div>
                      <div class="tm">15:30</div>
                      <div class="dt blue">30 ноября 2015, пн</div>
                      <div class="pls">Санкт-Петербург <span class="grey">LED</span></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="trip-help">
              <div class="trip-white-row trip-row">
                <div class="trip-col1 flex-center">
                  <div></div>
                </div>
                <div class="trip-col2 blue-row {{hideThere ? 'only-back' : ''}}">
                  <div class="flex-center">
                    <div class="smaller white-plane">Вылет</div>
                  </div>
                  <div class="flex-center">
                    <div class="smaller clock">Время в пути</div>
                  </div>
                  <div class="flex-center">
                    <div class="smaller white-plane down">Прилет</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="trip-back">
              <div class="trip-white-row trip-row">
                <div class="trip-col1 flex-center">
                  <div class="company-name-and-logo"><img src="i/nordstar.png"><br>
                    Nord Star Airlines</div>
                </div>
                <div class="trip-col2 times-row">
                  <div class="flex-center">
                    <div>
                      <div class="tm">15:30</div>
                      <div class="dt blue">30 ноября 2015, пн</div>
                      <div class="pls">Санкт-Петербург <span class="grey">LED</span></div>
                    </div>
                  </div>
                  <div class="flex-center">
                    <div>
                      2 ч 30 м<br>
                      <span class="grey">прямой</span>
                    </div>
                  </div>
                  <div class="flex-center">
                    <div>
                      <div class="tm">15:30</div>
                      <div class="dt blue">30 ноября 2015, пн</div>
                      <div class="pls">Санкт-Петербург <span class="grey">LED</span></div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="result-cols grey-cols inner-top-shadow">
          <div class="col-trip-info">
            <div class="trip-back-grey trip-row">
              <div class="trip-col1 flex-center">
                <div class="plane-model">Airbus 321</div>
              </div>
              <div class="trip-col2 flight-params">
                <div class="flex-center">
                  <div class="luggage">Багаж 20&nbsp;кг</div>
                </div>
                <div class="flex-center">
                  <div class="bag">Ручная кладь 5&nbsp;кг</div>
                </div>
                <div class="flex-center">
                  <div class="chair">Класс: эконом</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div id="go-to-search">
        <div id="subscribe-form">
          <form>
            <h2>Цена на авиабилет может снизиться</h2>
            <input type="email" placeholder="Ваш email"> <input type="submit" value="Следить за ценой" class="button-grey">
          </form>
        </div>
        <div>
          <a href="/" class="blue-button aib">Цена авиабилетов на
          альтернативные даты</a>
        </div>
        <div>
          <a href="/" class="green-button aib">Новый поиск</a>
        </div>
      </div>

      <div id="responses">
        <h2 id="resp-title">Отзывы покупателей</h2>
        <ul class="slides">
          <li ng-repeat="l in [1,1,1,1,1,1,1] track by $index">
            <div class="photo-and-date">
              <img src="i/default.png">
              <div>28 сентября 2014 года в 18:17</div>
            </div>
            <div class="response-body">
              <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
              <div class="show-full-and-check-response">
                <a href="/" class="blue-button aib">Прочесть полностью</a>
                <a href="/" class="button-grey aib">Проверить отзыв</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div id="aeroexpress">
        <div class="bysides">
          <div id="aeroexpress-title">
            <h2>В аэропорт без пробок и очередей</h2>
          </div>
          <div id="aeroexpress-logo"></div>
        </div>

        <div class="aeroexpress-way">
          <div class="railway">Белорусский вокзал</div>
          <div class="bluegt"></div>
          <div class="airport">Аэропорт <b>Шереметьево</b></div>
        </div>
        <div class="aeroexpress-time">
          <div>21января 2016</div>
          <div class="blue time-of-work">с 05:30 по 00:30</div>
          <div><span class="pseudolink"><span>По расписанию</span></span></div>
        </div>
        <div class="aeroexpress-ticket">
          <div class="age">Взрослые от 7 лет</div>
          <div>
            <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div class="aeroexpress-price">470 <span class="rub">Р</span></div>
          <div class="dobuy">
            <input type="button" value="Добавить к покупке" class="green-button">
          </div>
        </div>
        <div class="aeroexpress-ticket">
          <div class="age">Дети 5-7 лет</div>
          <div>
            <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div class="aeroexpress-price">470 <span class="rub">Р</span></div>
          <div class="dobuy">
            Продается только в кассах
          </div>
        </div>
        <div class="aeroexpress-ticket">
          <div class="age">Дети до 5 лет</div>
          <div>
            <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div class="aeroexpress-price">0 <span class="rub">Р</span></div>
          <div class="dobuy green ttu">
            Добавлено к покупке
          </div>
        </div>

        <div class="aeroexpress-way">
          <div class="airport">Аэропорт <b>Шереметьево</b></div>
          <div class="bluegt"></div>
          <div class="railway">Белорусский вокзал</div>
        </div>
        <div class="aeroexpress-time">
          <div>21января 2016</div>
          <div class="blue time-of-work">с 05:30 по 00:30</div>
          <div><span class="pseudolink"><span>По расписанию</span></span></div>
        </div>
        <div class="aeroexpress-ticket">
          <div class="age">Взрослые от 7 лет</div>
          <div>
            <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div class="aeroexpress-price">470 <span class="rub">Р</span></div>
          <div class="dobuy">
            <input type="button" value="Добавить к покупке" class="green-button">
          </div>
        </div>
        <div class="aeroexpress-ticket">
          <div class="age">Дети 5-7 лет</div>
          <div>
            <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div class="aeroexpress-price">470 <span class="rub">Р</span></div>
          <div class="dobuy">
            Продается только в кассах
          </div>
        </div>
        <div class="aeroexpress-ticket">
          <div class="age">Дети до 5 лет</div>
          <div>
            <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div class="aeroexpress-price">0 <span class="rub">Р</span></div>
          <div class="dobuy green ttu">
            Добавлено к покупке
          </div>
        </div>
      </div>
    </div>
    <div id="ocr">
      <div class="col-title">Бронирование рейса</div>
    </div>
  </div>
</div>

</body>
</html>