<div class="bysides services-input mt20">
  <div>
    <input id="ins1" name="serv" checked="true" type="checkbox">
    <label for="ins1" class="bybounds">
      <div>
        <div class="viol larger ttu">Медицинская страховка</div>
        <p class="smaller mt35">Требуется для получения визы</p>
      </div>
      <div class="mt35">
        <div>Страховая сумма</div>
        <div class="viol f21">5000 €</div>
        <div class="mt20">Цена на<br>
        1 пассажира</div>
        <div class="viol">8888 <span class="rub">Р</span></div>
        <a class="mt10 blue-button viol ttu ibm tdn aib" href="-">Подробнее</a>
      </div>
    </label>
  </div>
  <div>
    <input id="ins2" name="serv" checked="true" type="checkbox">
    <label for="ins2" class="bybounds">
      <div>
        <div class="viol larger ttu">На время<br>перелета</div>
        <p class="smaller mt25">Страхование от несчастного случая</p>
        <p class="smaller mt15">Страхование багажа</p>
      </div>
      <div class="mt35">
        <div>Страховая сумма</div>
        <div class="viol f21">580 €</div>
        <div class="mt20">Цена на<br>
          1 пассажира</div>
        <div class="viol">888 <span class="rub">Р</span></div>
        <a class="mt10 blue-button viol ttu ibm tdn aib" href="-">Подробнее</a>
      </div>
    </label>
  </div>
  <div>
    <input id="ins3" name="serv" checked="true" type="checkbox">
    <label for="ins3" class="bybounds">
      <div>
        <div class="viol larger ttu">Страхование путешествия</div>
        <p class="smaller mt15">Задержка рейса</p>
        <p class="smaller mt15">Задержка багажа</p>
        <p class="smaller mt15">Страхование от невылета</p>
      </div>
      <div class="mt35">
        <div>Страховая сумма</div>
        <div class="viol f21">380 €</div>
        <div class="mt20">Цена на<br>
          1 пассажира</div>
        <div class="viol">888 <span class="rub">Р</span></div>
        <a class="mt10 blue-button viol ttu ibm tdn aib" href="-">Подробнее</a>
      </div>
    </label>
  </div>
</div>

<div class="add-insurance mt10 bysides">
  <div class="line"></div>
  <div class="ttu smaller2 flex1 name">
    <b>Konstantinopolsky</b><br>
    Aleksandr
  </div>
  <div>
    <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
  </div>
  <div>&nbsp;дней</div>
  <div class="insurance-price viol">470 <span class="rub">Р</span></div>
  <div class="dobuy">
    <input type="button" value="Добавить к покупке" class="green-button aib">
  </div>
</div>
<div class="add-insurance mt10 bysides">
  <div class="line"></div>
  <div class="ttu smaller2 flex1 name">
    <b>Konstantinopolsky</b><br>
    Aleksandr
  </div>
  <div>
    <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
  </div>
  <div>&nbsp;дней</div>
  <div class="insurance-price viol">470 <span class="rub">Р</span></div>
  <div class="dobuy">
    <input type="button" value="Добавить к покупке" class="green-button aib">
  </div>
</div>
<div class="add-insurance mt10 bysides">
  <div class="line"></div>
  <div class="ttu smaller2 flex1 name">
    <b>Konstantinopolsky</b><br>
    Aleksandr
  </div>
  <div>
    <div class="number-with-spinners"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
  </div>
  <div>&nbsp;дней</div>
  <div class="insurance-price viol">470 <span class="rub">Р</span></div>
  <div class="dobuy ttu green fz11">
    Добавлено к покупке
  </div>
</div>

<div class="mt15">
  <label><input type="checkbox"> Согласен с <a href="df">условиями страхования</a></label>
</div>