<div ng-init="insur = 'med';" ng-if="true">
  <div class="revealer" ng-class="insur == 'med' ? 'shown' : ''" ng-click="insur = insur == 'med' ? '' : 'med'">
    <div class="f d vcen">
      <div class="blue">
        <span ng-show="chosen=='med'" class="fa fa-check green-text"></span> Медицинское страхование
      </div>
      <span ng-show="chosen=='med'">{{ad}} <span ng-bind="ad | rusPlural:'день':'дня':'дней':'дней'"></span></span>
    </div>
  </div>
  <div class="ebebeb slide" ng-show="insur == 'med'">
    <div class="ss-p10 ws-p15">
      <div class="tac">Достаточно для получения визы</div>

      <div class="f w medstrah vcen ws-hrig">
        <div class="fwb fz20 ss-tac">916 ₽</div>
        <div class="f"><a class="button-grey flex1 tac aib ws-flex1" ng-click="showPopup = true;">Подробнее о тарифе</a></div>
        <div class="f vcen space10">
          <div>
            <div class="number-with-spinners ss-h35 ws-h30"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div>дней</div>
        </div>
        <div class="f">
          <input type="submit" value="{{chosen=='med' ? 'Изменить' : 'Добавить'}}" class="blue-button h35 ws-flex1" ng-click="chosen='med'; insur = ''">
        </div>
      </div>

      <!--div class="f ss-c ss-space10 ws-r ws-hcen mt5">
        <div class="fwb fz20 ss-tac med-price"><div>916 ₽</div></div>
        <div class="f d"><a class="button-grey flex1 tac med-podrob" ng-click="showPopup = true;">Подробнее о тарифе</a></div>
      </div>

      <form class="f ss-d ss-space10 mt10 vcen ws-hcen">
        <div class="ss-flex1 f space10 vcen med-days">
          <div>
            <div class="number-with-spinners ss-h35 ws-h30"><span class="minus" ng-click="ad=ad-1;">−</span><input type="number" ng-model="ad" ng-init="ad=1;" step="1" min="1"><span class="plus" ng-click="ad=ad+1;">+</span></div>
          </div>
          <div>дней</div>
        </div>
        <div>
          <input type="submit" value="{{chosen=='med' ? 'Изменить' : 'Добавить'}}" class="blue-button h35 med-add" ng-click="chosen='med'; insur = ''">
        </div>
      </form-->


      <div class="mt10 f" ng-show="chosen=='med'">
        <a class="cancel-button flex1 tac" ng-click="chosen=''; insur = ''">Отменить</a>
      </div>
    </div>
  </div>

  <div class="mt10 revealer" ng-class="insur == 'fli' ? 'shown' : ''" ng-click="insur = insur == 'fli' ? '' : 'fli'">
    <div class="blue"><span ng-show="addedFli" class="fa fa-check  green-text"></span> Страхование на время перелета</div>
  </div>
  <div class="ebebeb slide" ng-show="insur == 'fli'">
    <div class="p10">
      <!--div class="tac blue ttu fwm fz15">Страхование на время перелета</div-->
      <div class="tac">Страхование на случай потери багажа</div>
      <div class="tac mt5">Страхование от несчастного случая</div>
      <div class="fwb fz20 tac mt5">255 ₽</div>

      <div class="mt10 f ss-c ss-space10 ws-r ws-space2">
        <div class="f d ws-flex1"><a class="button-grey flex1 tac" ng-click="showPopup = true;">Подробнее о тарифе</a></div>
        <form class="f d space10 vcen ws-flex1" ng-hide="addedFli">
            <input type="submit" value="Добавить" class="blue-button h35 flex1" ng-click="addedFli=true; insur = '';">
        </form>
        <div class="f ws-flex1" ng-show="addedFli">
          <a class="cancel-button flex1 tac" ng-click="addedFli=false; insur = ''">Отменить</a>
        </div>
      </div>
    </div>
  </div>

  <div class="mt10 revealer" ng-class="insur == 'tri' ? 'shown' : ''" ng-click="insur = insur == 'tri' ? '' : 'tri'">
    <div class="blue"><span ng-show="addedTri" class="fa fa-check  green-text"></span> Страхование путешествия</div>
  </div>
  <div class="ebebeb slide" ng-show="insur == 'tri'">
    <div class="p10">
      <!--div class="tac blue ttu fwm fz15">Страхование путешествия</div-->
      <div class="tac">Задержка рейса</div>
      <div class="tac mt5">Задержка багажа</div>
      <div class="tac mt5">Страхование от невылета</div>
      <div class="fwb fz20 tac mt5">255 ₽</div>

      <div class="mt10 f ss-c ss-space10 ws-r ws-space2">
        <div class="f d ws-flex1"><a class="button-grey flex1 tac" ng-click="showPopup = true;">Подробнее о тарифе</a></div>
        <form class="f d space10 vcen ws-flex1" ng-hide="addedTri">
          <input type="submit" value="Добавить" class="blue-button h35 flex1" ng-click="addedTri=true; insur = '';">
        </form>
        <div class="f ws-flex1" ng-show="addedTri">
          <a class="cancel-button flex1 tac" ng-click="addedTri=false; insur = ''">Отменить</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="insurance-popup f vcen hcen p20" ng-if="showPopup">
    <div>
    <p>ДокумЗадержка рейса – при задержке вылета более 6 часов выплачивается
    500 руб/час, но не более страховой суммы.</p>

    <p class="mt5">Задержка багажа – при задержке выдачи багажа более 6 часов выплачивается
    500руб/час, но не более страховой суммы.</p>

    <p class="mt5">Страхование от невылета – компенсация штрафов/удержаний при аннулировании проездных документов в случае отмены поездки или переносе сроков по объективным причинам подтверждённым документально.
    Лимит возмещения – 10 000 руб.</p>

    <div class="f mt20">
      <input type="button" value="Закрыть" class="flex1 button-grey" ng-click="$parent.showPopup = false;">
    </div>
    </div>
  </div>
