<!DOCTYPE html>
<html ng-app="test">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>personal</title>
  <link href="js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" type="text/css">
  <script src="js/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
  <script src="js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="js/jquery.datepicker.extension.range.min.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/jquery.selectric.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="https://rawgit.com/srfrnk/re-tree/master/re-tree.js" type="text/javascript"></script>
  <script src="https://rawgit.com/srfrnk/ng-device-detector/master/ng-device-detector.js" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="css/flexslider.css"/>
  <link rel="stylesheet" type="text/css" href="css/selectric.css"/>
  <link rel="stylesheet" type="text/css" href="css/weather-icons.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/personal.css"/>
  <script src="js/script.js"></script>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>

<div ng-include="'top.html'" ng-init="hideSeach=true"></div>


<div id="personalcabinet" class="max-width">
  <div class="mytabs mt20">
    <div class="tabs-switchers cabinet f space2" ng-init="currentTab='orders'">
      <div class="flex1 tac f vcen hcen" ng-class="{'active' : $parent.currentTab==tab.id}" ng-click="$parent.currentTab=tab.id" ng-repeat="tab in ::[{name: 'Мои заказы', id: 'orders'}, {name: 'Мои пассажиры', id: 'notebook'}, {name: 'Мой профиль', id: 'profile'}]">
        <div class="tab-end left"></div>
        <div ng-bind="tab.name" class="p10">Мой профиль</div>
        <div class="tab-end right"></div>
      </div>
    </div>
    <div class="tab-contents" ng-show="currentTab=='profile'">
      <div class="tac">
        <a class="tdn fz20" ng-click="enableProfileEdit=true">Мой профиль <i class="fa fa-pencil"></i></a>
      </div>

      <div ng-include="'modalWindow'" ng-if="enableProfileEdit" ng-init="tpl='editMyProfile'; what='enableProfileEdit';"></div>
      <div ng-include="'modalWindow'" ng-if="enableChangePassword" ng-init="tpl='changePassword'; what='enableChangePassword';"></div>

      <div class="f d space20 profile-mw mt20">
        <div class=" f c d space20">
          <div>Александр Терехов</div>
          <div class="f space20">
            <div>
              <div class="grey fz11">Контактный телефон</div>
              <div><img src="i/flag.png"> +7 903 789-56-34</div>
            </div>
            <div>
              <div class="grey fz11">Email</div>
              <div>aleksander@terekhov.ru</div>
            </div>
          </div>
        </div>
        <div class=" f c d space20">
          <div class="tac">Пожалуйста, ознакомьтесь с нашей<br><a>политикой конфиденциальности</a></div>
          <div class="f"><a class="flex1 button-grey tac" ng-click="enableChangePassword=true;"><div class="mozfix">Изменить пароль</div></a></div>
        </div>
      </div>

      <div class="f d space20 mt40 profile-mw vcen">
        <div class="blue">Ваш персональный менеджер:</div>
        <div class="flex1">Нет менеджера</div>
        <div class="f space2">
          <a class="button-grey aib"><span class="mozfix">Подробнее</span></a>
          <a class="blue-button aib"><span class="mozfix">Добавить</span></a>
        </div>
      </div>

      <div class="mt40">
        <div class="tac fz20"><a class="tdn">Ваши банковские карты <i class="fa fa-plus-square"></i></a></div>

        <div class="mt20 fz16 tac">У вас нет привязанных карт.</div>

        <div class="mt10 tac">Для ускорения процесса покупки при оформленеии заказа вам будет <br> необходимо только выбрать карту и ввести секретный код (CVC/CVV).</div>

        <div>
          <div class="f space20 vcen mt10 hcen" ng-repeat="row in [1,2,3]">
            <div>5213 **** 2346</div>
            <div class="f space2">
              <a class="button-grey aib"><span class="mozfix">Редактировать данные</span></a>
              <a class="cancel-button aib"><span class="mozfix"><i class="fa fa-times"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="tab-contents" ng-show="currentTab=='orders'">
      <div class="f d space4 mb20">
        <div class="flex1" ng-repeat="row in ['Все заказы', 'Неоплаченные', 'Оплаченные', 'Архивные']">
          <input type="radio" class="no-display" id="mo{{$index}}" name="or">
          <label class="bluelabel" for="mo{{$index}}"><span class="mozfix" ng-bind="row"></span></label>
        </div>
      </div>
      <div>

        <div class="o-table">
          <!-- аналог colgroup -->
          <style>
            .o-cols>div:nth-child(1) {flex:0 0 100px; text-align: center;}
            .o-cols>div:nth-child(2) {flex:0 0 100px; text-align: center;}
            .o-cols>div:nth-child(3) {flex:1;}
            .o-cols>div:nth-child(4) {flex:0 0 80px; text-align: center;}
            .o-cols>div:nth-child(5) {flex:0 0 80px;}
            .o-cols>div:nth-child(6) {flex:0 0 220px;}
          </style>

          <div class="o-cols o-header tac f d space20 grey777">
            <div>Номер заказа</div>
            <div>Статус</div>
            <div>Направление</div>
            <div>Пассажиры</div>
            <div class="tar">Стоимость</div>
            <div>Примечание</div>
          </div>

          <div class="o-row">
            <div class="f d space20 o-cols">
              <div>12345</div>
              <div><span class="orange">Не оплачен</span></div>
              <div class="f space6">
                <div class="flex1 tar"><span class="blue">Москва</span> <span class="grey fz11">12.01.2017</span></div>
                <div>
                  <i class="fa fa-angle-right grey777 fa-fw" style="position: relative; left:3px; top:2px;"></i>
                  <i class="fa fa-angle-left grey777 fa-fw" style="position: absolute; top:0; left:-3px;"></i>
                </div>
                <div class="flex1"><span class="orange">Бургас</span> <span class="grey fz11">02.04.2017</span></div>
              </div>
              <div>
                <div class="tooltip db">
                  <div class="tac">3</div>
                  <div class="ttip f hcen">
                    <div id="numberofpass" class="f vcen space8">
                      <div class="f vcen space">
                        <img src="i/icons/Adult-white.svg">
                        <div><span class="mozfix">×1</span></div>
                      </div>

                      <div class="f vcen space2">
                        <img src="i/icons/Child-white.svg">
                        <div><span class="mozfix">×0</span></div>
                      </div>

                      <div class="f vcen space2">
                        <img src="i/icons/Infant-white.svg">
                        <div><span class="mozfix">×0</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tar fwb">125&thinsp;338&nbsp;₽</div>
              <div class="f space4 vcen">
                <div><a href="/" class="green-button aib ibm ptbut"><span class="mozfix">Оплатить</span></a></div>
                <div><span class="grey">до:</span> 12:30, 21.07.2016</div>
              </div>
            </div>
          </div>

          <div class="o-row">
            <div class="f d space20 o-cols">
              <div>12345</div>
              <div><span class="orange">Не оплачен</span></div>
              <div class="f space6">
                <div class="flex1 tar"><span class="blue">Москва</span> <span class="grey fz11">12.01.2017</span></div>
                <div><i class="fa fa-angle-right grey777 fa-fw"></i></div>
                <div class="flex1"><span class="orange">Бургас</span></div>
              </div>
              <div>
                <div class="tooltip db">
                  <div class="tac">3</div>
                  <div class="ttip f hcen">
                    <div id="numberofpass" class="f vcen space8">
                      <div class="f vcen space">
                        <img src="i/icons/Adult-white.svg">
                        <div><span class="mozfix">×1</span></div>
                      </div>

                      <div class="f vcen space2">
                        <img src="i/icons/Child-white.svg">
                        <div><span class="mozfix">×0</span></div>
                      </div>

                      <div class="f vcen space2">
                        <img src="i/icons/Infant-white.svg">
                        <div><span class="mozfix">×0</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tar fwb">65&thinsp;338&nbsp;₽</div>
              <div class="f space4 vcen">
                <div><a href="/" class="green-button aib ibm ptbut"><span class="mozfix">Оплатить</span></a></div>
                <div><span class="grey">до:</span> 12:30, 21.07.2016</div>
              </div>
            </div>
          </div>

          <div class="o-row" ng-class="{'o-active': order}">
            <div ng-show="cancel" class="o-cancel f hcen vcen">
              <div>Заявка на аннулирование принята. <a ng-click="cancel=false">Отменить заявку</a></div>
            </div>
            <div class="f d space20 o-cols" ng-click="order=!order">
              <div>22345</div>
              <div><span class="green-text">Оплачен</span></div>
              <div class="f space6">
                <div class="flex1 tar"><span class="blue">Москва</span> <span class="grey fz11">12.01.2017</span></div>
                <div><i class="fa fa-angle-right grey777 fa-fw"></i></div>
                <div class="flex1"><span class="orange">Бургас</span></div>
              </div>
              <div>
                <div class="tooltip db">
                  <div class="tac">3</div>
                  <div class="ttip f hcen">
                    <div id="numberofpass" class="f vcen space8">
                      <div class="f vcen space">
                        <img src="i/icons/Adult-white.svg">
                        <div><span class="mozfix">×1</span></div>
                      </div>

                      <div class="f vcen space2">
                        <img src="i/icons/Child-white.svg">
                        <div><span class="mozfix">×0</span></div>
                      </div>

                      <div class="f vcen space2">
                        <img src="i/icons/Infant-white.svg">
                        <div><span class="mozfix">×0</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tar fwb">65&thinsp;338&nbsp;₽</div>
              <div class="f space4 vcen">
                <div><a href="/" class="green-button aib ibm ptbut"><span class="mozfix">Оплатить</span></a></div>
                <div><span class="grey">до:</span> 12:30, 21.07.2016</div>
              </div>
            </div>
            <div class="f space20 p10 ptact">
              <div class="flex1 tac">
                <span class="grey">Документы:</span>
                <span class="tooltip ml10">
                  <i class="fa fa-print blue"></i>
                  <div class="ttip">Распечатать документы</div>
                </span>
                <span class="tooltip ml10 ">
                  <i class="fa fa-envelope-o blue"></i>
                  <div class="ttip">Отправить документы на&nbsp;email</div>
                </span>
              </div>
              <div class="flex1 tac">
                <a class="tdn" ng-click="changePassenger=true"><i class="fa fa-user tdn"></i> <span class="tdu">Изменить данные пассажира</span></a>
              </div>
              <div class="flex1 tac">
                <a class="tdn" ng-click="cancel=true"><i class="fa fa-times tdn"></i> <span class="tdu">Аннулировать авиабилет</span></a>
              </div>
              <div class="flex1 tac">
                <a class="tdn" ng-click="changeDate=true"><i class="fa fa-calendar tdn"></i> <span class="tdu">Изменить даты вылета</span></a>
              </div>
            </div>

            <div class="slide p10" ng-show="order" ng-include="'order-form.html'"></div>
          </div>
          <div class="o-row">
            <div class="f d space20 o-cols">
              <div>12345</div>
              <div><span class="orange">Не оплачен</span></div>
              <div class="f space6">
                <div class="flex1 tar"><span class="blue">Москва</span> <span class="grey fz11">12.01.2017</span></div>
                <div><i class="fa fa-angle-right grey777 fa-fw"></i></div>
                <div class="flex1"><span class="orange">Бургас</span></div>
              </div>
              <div>
                <div class="tooltip db">
                  <div class="tac">3</div>
                  <div class="ttip f hcen">
                    <div id="numberofpass" class="f vcen space8">
                      <div class="f vcen space">
                        <img src="i/icons/Adult-white.svg">
                        <div><span class="mozfix">×1</span></div>
                      </div>

                      <div class="f vcen space2">
                        <img src="i/icons/Child-white.svg">
                        <div><span class="mozfix">×0</span></div>
                      </div>

                      <div class="f vcen space2">
                        <img src="i/icons/Infant-white.svg">
                        <div><span class="mozfix">×0</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tar fwb">65&thinsp;338&nbsp;₽</div>
              <div class="f space4 vcen">
                <div><a href="/" class="green-button aib ibm ptbut"><span class="mozfix">Оплатить</span></a></div>
                <div><span class="grey">до:</span> 12:30, 21.07.2016</div>
              </div>
            </div>
          </div>
        </div>
      <!--table class="white-table">
        <thead>
        <tr>
          <th>Номер заказа</th>
          <th>Статус</th>
          <th>Направление</th>
          <th>Пассажиры</th>
          <th align="right">Стоимость</th>
          <th>Примечание</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center">12345</td>
          <td align="center"><span class="orange">Не оплачен</span></td>
          <td>
            <div class="f space6">
              <div class="flex1 tar"><span class="blue">Москва</span> <span class="grey fz11">12.01.2017</span></div>
              <div>
                <i class="fa fa-angle-right grey777 fa-fw" style="position: relative; left:3px; top:2px;"></i>
                <i class="fa fa-angle-left grey777 fa-fw" style="position: absolute; top:0; left:-3px;"></i>
              </div>
              <div class="flex1"><span class="orange">Бургас</span> <span class="grey fz11">02.04.2017</span></div>
            </div>
          </td>
          <td align="center">
            <span class="tooltip">
              3
              <div class="ttip f hcen">
                <div id="numberofpass" class="f vcen space8">
                  <div class="f vcen space">
                    <img src="i/icons/Adult-white.svg">
                    <div><span class="mozfix">×1</span></div>
                  </div>

                  <div class="f vcen space2">
                    <img src="i/icons/Child-white.svg">
                    <div><span class="mozfix">×0</span></div>
                  </div>

                  <div class="f vcen space2">
                    <img src="i/icons/Infant-white.svg">
                    <div><span class="mozfix">×0</span></div>
                  </div>
                </div>
              </div>
            </span>
          </td>
          <td align="right" class="fwb">
            125&thinsp;338&nbsp;₽
          </td>
          <td align="center">
            <span class="grey">Оплатить до:</span> 12:30, 21.07.2016
          </td>
        </tr>
        <tr>
          <td align="center">12345</td>
          <td align="center"><span class="orange">Не оплачен</span></td>
          <td>
            <div class="f space6">
              <div class="flex1 tar"><span class="blue">Москва</span> <span class="grey fz11">12.01.2017</span></div>
              <div><i class="fa fa-angle-right grey777 fa-fw"></i></div>
              <div class="flex1"><span class="orange">Бургас</span></div>
            </div>
          </td>
          <td align="center">
            <span class="tooltip">
              3
              <div class="ttip f hcen">
                <div id="numberofpass" class="f vcen space8">
                  <div class="f vcen space">
                    <img src="i/icons/Adult-white.svg">
                    <div><span class="mozfix">×1</span></div>
                  </div>

                  <div class="f vcen space2">
                    <img src="i/icons/Child-white.svg">
                    <div><span class="mozfix">×0</span></div>
                  </div>

                  <div class="f vcen space2">
                    <img src="i/icons/Infant-white.svg">
                    <div><span class="mozfix">×0</span></div>
                  </div>
                </div>
              </div>
            </span>
          </td>
          <td align="right" class="fwb">
            25&thinsp;338&nbsp;₽
          </td>
          <td align="center">
            <span class="grey">Оплатить до:</span> 12:30, 21.07.2016
          </td>
        </tr>
        <tr ng-click="order=!order">
          <td align="center">12345</td>
          <td align="center"><span class="green-text">Оплачен</span></td>
          <td>
            <div class="f space6">
              <div class="flex1 tar"><span class="blue">Санкт-Петербург</span> <span class="grey fz11">12.01.2017</span></div>
              <div><i class="fa fa-angle-right grey777 fa-fw"></i></div>
              <div class="flex1"><span class="orange">Варшава</span></div>
            </div>
          </td>
          <td align="center">
            <div class="tooltip db">
              <div class="tac">3</div>
              <div class="ttip f hcen">
                <div id="numberofpass" class="f vcen space8">
                  <div class="f vcen space">
                    <img src="i/icons/Adult-white.svg">
                    <div><span class="mozfix">×1</span></div>
                  </div>

                  <div class="f vcen space2">
                    <img src="i/icons/Child-white.svg">
                    <div><span class="mozfix">×0</span></div>
                  </div>

                  <div class="f vcen space2">
                    <img src="i/icons/Infant-white.svg">
                    <div><span class="mozfix">×0</span></div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td align="right" class="fwb">
            25&thinsp;338&nbsp;₽
          </td>
          <td align="center">

          </td>
        </tr>
        <tr class="tr-extra">
          <td colspan="6">
            <div class="f space20">
              <div class="flex1 tac">
                <span class="grey">Документы:</span>
                <span class="tooltip ml10">
                  <i class="fa fa-print blue"></i>
                  <div class="ttip">Распечатать документы</div>
                </span>
                <span class="tooltip ml10 ">
                  <i class="fa fa-envelope-o blue"></i>
                  <div class="ttip">Отправить документы на&nbsp;email</div>
                </span>
              </div>
              <div class="flex1 tac">
                <a class="tdn" ng-click="changePassenger=true"><i class="fa fa-user tdn"></i> <span class="tdu">Изменить данные пассажира</span></a>
              </div>
              <div class="flex1 tac">
                <a class="tdn" ng-click="changePassenger=true"><i class="fa fa-calendar tdn"></i> <span class="tdu">Изменить даты вылета</span></a>
              </div>
              <div class="flex1 tac">
                <a class="tdn" ng-click="changePassenger=true"><i class="fa fa-times tdn"></i> <span class="tdu">Аннулировать авиабилет</span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="tr-extra" ng-show="order">
          <td colspan="6">
            <div class="slide" ng-show="order" ng-include="'order-form.html'"></div>
          </td>
        </tr>

        <tr>
          <td align="center">12345</td>
          <td align="center"><span class="orange">Не оплачен</span></td>
          <td>
            <div class="f space6">
              <div class="flex1 tar"><span class="blue">Москва</span> <span class="grey fz11">12.01.2017</span></div>
              <div><i class="fa fa-angle-right grey777 fa-fw"></i></div>
              <div class="flex1"><span class="orange">Бургас</span></div>
            </div>
          </td>
          <td align="center">
            <span class="tooltip">
              3
              <div class="ttip f hcen">
                <div id="numberofpass" class="f vcen space8">
                  <div class="f vcen space">
                    <img src="i/icons/Adult-white.svg">
                    <div><span class="mozfix">×1</span></div>
                  </div>

                  <div class="f vcen space2">
                    <img src="i/icons/Child-white.svg">
                    <div><span class="mozfix">×0</span></div>
                  </div>

                  <div class="f vcen space2">
                    <img src="i/icons/Infant-white.svg">
                    <div><span class="mozfix">×0</span></div>
                  </div>
                </div>
              </div>
            </span>
          </td>
          <td align="right" class="fwb">
            25&thinsp;338&nbsp;₽
          </td>
          <td align="center">
            <span class="grey">Оплатить до:</span> 12:30, 21.07.2016
          </td>
        </tr>
        </tbody>
      </table-->
      </div>

      <div ng-include="'modalWindow'" ng-if="changeDate" ng-init="tpl='changeDate'; what='changeDate';"></div>
      <div ng-include="'modalWindow'" ng-if="changePassenger" ng-init="tpl='changePassenger'; what='changePassenger';"></div>
    </div>

    <div class="tab-contents" ng-show="currentTab=='notebook'">
      <div class="tac fz20"><a class="tdn" ng-click="enableEditPassenger=true">Мои пассажиры <i class="fa fa-plus-square"></i></a></div>

      <table class="white-table vam">
        <colgroup>
          <col style="width:240px;">
          <col style="width:120px;">
          <col>
          <col style="width:150px;">
          <col style="width:200px;">
        </colgroup>
        <thead>
        <tr>
          <th align="left">ФИО</th>
          <th>Дата рождения</th>
          <td></td>
          <th>Документ</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Терехов Александр Сергеевич</td>
          <td align="center">10.04.1889</td>
          <td></td>
          <td align="center">Паспорт РФ</td>
          <td align="right">
            <div class="f space2 hrig">
              <a class="button-grey aib flex1 tac" ng-click="enableEditPassenger=true"><span class="mozfix">Редактировать <i class="fa fa-pencil"></i></span></a>
              <a class="cancel-button aib"><span class="mozfix"><i class="fa fa-times"></i></span></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Aleksander Terekhov</td>
          <td align="center">22.04.1870</td>
          <td></td>
          <td align="center">Загранпаспорт</td>
          <td align="right">
            <div class="f space2 hrig">
              <a class="button-grey aib flex1 tac" ng-click="enableEditPassenger=true"><span class="mozfix">Нет данных <i class="fa fa-pencil"></i></span></a>
              <a class="cancel-button aib"><span class="mozfix"><i class="fa fa-times"></i></span></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <div ng-include="'modalWindow'" ng-if="enableEditPassenger" ng-init="tpl='editPassenger'; what='enableEditPassenger';"></div>
    </div>
  </div>
</div>

<script id="modalWindow" type="text/ng-template">
  <style>
    body {
      overflow: hidden;
    }
  </style>
  <div class="modalwin f hcen vcen">
    <div class="modal">
      <div class="modalheader f">
        <div class="flex1 ellipsis">Мой профиль</div>
        <div>
          <a class="modalclose" ng-click="$parent.$parent[what]=false;"></a>
        </div>
      </div>
      <div class="modalcontents p10" ng-include="tpl">

      </div>
    </div>
  </div>
</script>

<script id="editMyProfile" type="text/ng-template">
  <div ng-init="$root.fix();">
    <div class="f ws-r ss-c ss-space10 ws-space2 mt10">
      <label class="flex1 f vbot input-pholder" ng-class="buyer ? 'not-empty' : ''">
        <input type="text" name="fio" class="flex1 fz15" ng-model="buyer">
        <span class="pholder">Имя</span>
      </label>

      <label class="flex1 f vbot input-pholder" ng-class="buyer ? 'not-empty' : ''">
        <input type="text" name="fio" class="flex1 fz15" ng-model="buyer">
        <span class="pholder">Фамилия</span>
      </label>
    </div>
    <div class="f ws-r ss-c ss-space10 ws-space2 mt10">
      <div class="flex0050 f vbot input-pholder not-empty">
        <div class="f ss-space10 d flex1">

          <!--div class="mobile-select"-->
          <select class="selectric countrycode">
            <option value="+7" data-flag="i/flag.png">Россия</option>
            <option value="+90" data-flag="i/greece.png">Грузия</option>
            <option value="+383" data-flag="i/flag.png">Россия</option>
            <option value="+900" data-flag="i/greece.png">Украина</option>
            <option value="+1" data-flag="i/flag.png">США</option>
            <option value="+800" data-flag="i/greece.png">Зимбабве</option>
          </select>
          <!--/div-->
          <input type="text" class="flex1 fz15 phone-input" value="+7">
        </div>
        <span class="pholder">Мобильный телефон</span>
      </div>
      <div class="flex1">
        <label ng-if="true" class="f vbot input-pholder" ng-class="m ? 'not-empty' : ''">
          <input type="text" name="fio" class="flex1 fz15" ng-model="m">
          <span class="pholder">Ваш email</span>
        </label>
      </div>
    </div>
    <div class="mt10 f hcen">
      <input type="submit" value="Сохранить" class="blue-button">
    </div>
  </div>
</script>

<script id="changePassword" type="text/ng-template">
  <div>
    <label ng-if="true" class="f vbot input-pholder" ng-class="m ? 'not-empty' : ''">
      <input type="password" name="fio" class="flex1 fz15" ng-model="m">
      <span class="pholder">Текущий пароль</span>
    </label>

    <label ng-if="true" class="f vbot input-pholder mt10" ng-class="m ? 'not-empty' : ''">
      <input type="password" name="fio" class="flex1 fz15" ng-model="m">
      <span class="pholder">Новый пароль</span>
    </label>

    <label ng-if="true" class="f vbot input-pholder mt10" ng-class="m ? 'not-empty' : ''">
      <input type="password" name="fio" class="flex1 fz15" ng-model="m">
      <span class="pholder">Новый пароль ещё раз</span>
    </label>

    <div class="mt10 f hcen">
      <input type="submit" value="Сохранить" class="blue-button">
    </div>
  </div>
</script>

<script id="editPassenger" type="text/ng-template">
  <div class="mytabs compact" ng-init="$root.fix();">
    <div class="tabs-switchers  f space2" ng-init="currentTab='ab'">
      <div class="flex1 tac f vcen hcen" ng-class="{'active' : $parent.currentTab==tab.id}" ng-click="$parent.currentTab=tab.id" ng-repeat="tab in ::[{name: 'Для путешествий за пределы РФ', id: 'ab'}, {name: 'Для путешествий внутри РФ', id: 'in'}]">
        <div class="tab-end left"></div>
        <div ng-bind="tab.name" class="p10">Мой профиль</div>
        <div class="tab-end right"></div>
      </div>
    </div>

    <div class="tab-contents" ng-show="currentTab=='ab'">
      <div class="f d space2">
        <label ng-if="true" class="f vbot input-pholder flex60 ws-flex1" ng-class="buyer ? 'not-empty' : ''">
          <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
          <span class="pholder">Фамилия (латиницей)</span>
        </label>
        <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
          <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
          <span class="pholder">Имя (латиницей)</span>
        </label>
      </div>

      <div class="mt10 f d ss-space10 ws-space40">
        <div class="f ws-space6 vcen">
          <div class="mozfix ss-nd">Пол</div>
          <div class="f d stretch input-pholder p0 gender gender-my gender{{gender}}" ng-init="gender='1'">
            <div class="gender-slider"></div>
            <input id="g1{{pass}}" type="radio" ng-model="gender" class="no-display" value="1">
            <label for="g1{{pass}}" class="flex1 f vcen hcen"><div class="mozfix">М</div></label>
            <input id="g2{{pass}}" type="radio" ng-model="gender" class="no-display" value="2">
            <label for="g2{{pass}}" class="flex1 f vcen hcen"><div class="mozfix">Ж</div></label>
          </div>
        </div>
        <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
          <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholder='ДД.ММ.ГГГГ'" ng-blur="placeholder=''" placeholder="{{placeholder}}">
          <span class="pholder">Дата рождения</span>
        </label>
      </div>

      <div class="mt10 f ws-r ss-c ws-space2 ss-space10">
        <label ng-if="true" class="f vbot input-pholder flex1 mobile-select" ng-class="buyer ? 'not-empty' : ''">
          <select class="selectric citizenship" ng-model="buyer">
            <option></option>
            <option value="Georgia" data-flag="i/flag.png">Албания</option>
            <option value="Georgia" data-flag="i/greece.png">Грузия</option>
            <option value="Georgia" data-flag="i/flag.png">Россия</option>
            <option value="Georgia" data-flag="i/greece.png">Украина</option>
            <option value="Georgia" data-flag="i/flag.png">США</option>
            <option value="Georgia" data-flag="i/greece.png">Зимбабве</option>
          </select>
          <span class="pholder">Гражданство</span>
        </label>

        <label ng-if="true" class="f vbot input-pholder flex1 mobile-select" ng-class="buyer ? 'not-empty' : ''">
          <select class="selectric doctype" ng-model="buyer">
            <option value="Загранпаспорт гражданина РФ">Загранпаспорт гражданина РФ</option>
            <option value="Паспорт гражданина РФ">Паспорт гражданина РФ</option>
            <option value="Passport is not Russia">Passport is not Russia</option>
            <option value="Паспорт гражданина не РФ">Паспорт гражданина не РФ</option>
          </select>
          <span class="pholder">Документ</span>
        </label>
      </div>

      <div class="mt10 f ss-c ss-space10 ws-r ws-space2">
        <div class="f d space2 ws-flex1">
          <label ng-if="true" class="f vbot input-pholder" ng-class="buyer ? 'not-empty' : ''">
            <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholders='00'" ng-blur="placeholders=''" placeholder="{{placeholders}}">
            <span class="pholder">Серия</span>
          </label>
          <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
            <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholdern='0000000'" ng-blur="placeholdern=''" placeholder="{{placeholdern}}">
            <span class="pholder">Номер</span>
          </label>
        </div>

        <label ng-if="true" class="f vbot input-pholder flex0050" ng-class="buyer ? 'not-empty' : ''">
          <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholder='ДД.ММ.ГГГГ'" ng-blur="placeholder=''" placeholder="{{placeholder}}">
          <span class="pholder">Срок действия</span>
        </label>
      </div>
    </div>

    <div class="tab-contents" ng-show="currentTab=='in'">
      <div class="f d space2">
        <label ng-if="true" class="f vbot input-pholder flex60 ws-flex1" ng-class="buyer ? 'not-empty' : ''">
          <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
          <span class="pholder">Фамилия</span>
        </label>
        <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
          <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
          <span class="pholder">Имя</span>
        </label>
        <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
          <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
          <span class="pholder">Отчество</span>
        </label>
      </div>

      <div class="mt10 f d ss-space10 ws-space40">
        <div class="f ws-space6 vcen">
          <div class="mozfix ss-nd">Пол</div>
          <div class="f d stretch input-pholder p0 gender gender-my gender{{gender}}" ng-init="gender='1'">
            <div class="gender-slider"></div>
            <input id="g1{{pass}}" type="radio" ng-model="gender" class="no-display" value="1">
            <label for="g1{{pass}}" class="flex1 f vcen hcen"><div class="mozfix">М</div></label>
            <input id="g2{{pass}}" type="radio" ng-model="gender" class="no-display" value="2">
            <label for="g2{{pass}}" class="flex1 f vcen hcen"><div class="mozfix">Ж</div></label>
          </div>
        </div>
        <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
          <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholder='ДД.ММ.ГГГГ'" ng-blur="placeholder=''" placeholder="{{placeholder}}">
          <span class="pholder">Дата рождения</span>
        </label>
      </div>

      <div class="mt10 f ws-r ss-c ws-space2 ss-space10">
        <label ng-if="true" class="f vbot input-pholder flex1 mobile-select" ng-class="buyer ? 'not-empty' : ''">
          <select class="selectric citizenship" ng-model="buyer">
            <option></option>
            <option value="Georgia" data-flag="i/flag.png">Албания</option>
            <option value="Georgia" data-flag="i/greece.png">Грузия</option>
            <option value="Georgia" data-flag="i/flag.png">Россия</option>
            <option value="Georgia" data-flag="i/greece.png">Украина</option>
            <option value="Georgia" data-flag="i/flag.png">США</option>
            <option value="Georgia" data-flag="i/greece.png">Зимбабве</option>
          </select>
          <span class="pholder">Гражданство</span>
        </label>

        <label ng-if="true" class="f vbot input-pholder flex1 mobile-select" ng-class="buyer ? 'not-empty' : ''">
          <select class="selectric doctype" ng-model="buyer">
            <option value="Загранпаспорт гражданина РФ">Загранпаспорт гражданина РФ</option>
            <option value="Паспорт гражданина РФ">Паспорт гражданина РФ</option>
            <option value="Passport is not Russia">Passport is not Russia</option>
            <option value="Паспорт гражданина не РФ">Паспорт гражданина не РФ</option>
          </select>
          <span class="pholder">Документ</span>
        </label>
      </div>

      <div class="mt10 f ss-c ss-space10 ws-r ws-space2">
        <div class="f d space2 ws-flex1">
          <label ng-if="true" class="f vbot input-pholder" ng-class="buyer ? 'not-empty' : ''">
            <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholders='00'" ng-blur="placeholders=''" placeholder="{{placeholders}}">
            <span class="pholder">Серия</span>
          </label>
          <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
            <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholdern='0000000'" ng-blur="placeholdern=''" placeholder="{{placeholdern}}">
            <span class="pholder">Номер</span>
          </label>
        </div>


      </div>
    </div>
  </div>
  <div class="mt10 f hcen">
    <input type="submit" value="Сохранить" class="blue-button">
  </div>
</script>

<script type="text/ng-template" id="changeDate">
  <div class="f d space3">
    <div class="flex1 f" id="date-input-1">
      <input type="text" class="flex1 lh33 b-1 border-blue rounded3 pl10">
    </div>
    <div class="flex1 f" id="date-input-2">
      <input type="text" class="flex1 lh33 b-1 border-blue rounded3">
    </div>
  </div>
  <div class="mt10 f hcen">
    <input type="submit" value="Отправить" class="blue-button">
  </div>
</script>

<script type="text/ng-template" id="changePassenger">
  <div class="f d vcen" ng-init="cur=0; passengers = [{name: 'Взрослый 1', color: '#aadf11', tpl: 'i/icons/Adult.svg'}, {name: 'Взрослый 2', color: '#ff6801', tpl: 'i/icons/Adult.svg'}, {name: 'Ребенок 1', color: '#764ca2', tpl: 'i/icons/Child.svg'}, {name: 'Ребенок младше 2 лет 1', color: '#f2b101', tpl: 'i/icons/Infant.svg'}];">
    <div style="width:150px;" class="tac">
      <a ng-show="cur>0" ng-click="cur=cur-1;">
        <div><i class="fa fa-angle-left fz20"></i></div>
        <div ng-bind="passengers[cur-1].name">Взрослый 1</div>
      </a>
    </div>
    <div class="flex1" style="width:500px;">
      <div ng-repeat="pass in passengers">
        <div ng-show="$index==cur" class="form-group passenger-data" data-rel="rightcol" data-title="ВВЕДИТЕ ДАННЫЕ ПАССАЖИРА: {{pass.name}}" data-color="{{pass.color}}" id="passeng{{$index}}">
          <style>
            #id{{$index}} .mainpath {
            fill: {{pass.color}};
            }
          </style>
          <div class="f d vcen">
            <div class="ttu f vcen space6" ng-init="id='id'+$index">
              <div class="passenger-pic">
                <div id="id{{$index}}" ng-include="pass.tpl" class="f vcen"></div>
              </div>
              <div class="mozfix" style="color:{{pass.color}};">{{pass.name}}</div>
            </div>

          </div>

          <div class="f d space2">
            <label ng-if="true" class="f vbot input-pholder flex60 ws-flex1" ng-class="buyer ? 'not-empty' : ''">
              <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
              <span class="pholder">Фамилия</span>
            </label>
            <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
              <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5">
              <span class="pholder">Имя</span>
            </label>
          </div>

          <div class="f d ss-space10 ws-space40">
            <div class="f ws-space6 vcen">
              <div class="mozfix ss-nd">Пол</div>
              <div class="f d stretch input-pholder p0 gender gender-my gender{{gender}}" ng-init="gender='1'">
                <div class="gender-slider"></div>
                <input id="g1{{pass}}" type="radio" ng-model="gender" class="no-display" value="1">
                <label for="g1{{pass}}" class="flex1 f vcen hcen"><div class="mozfix">М</div></label>
                <input id="g2{{pass}}" type="radio" ng-model="gender" class="no-display" value="2">
                <label for="g2{{pass}}" class="flex1 f vcen hcen"><div class="mozfix">Ж</div></label>
              </div>
            </div>
            <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
              <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholder='ДД.ММ.ГГГГ'" ng-blur="placeholder=''" placeholder="{{placeholder}}">
              <span class="pholder">Дата рождения</span>
            </label>
          </div>

          <div class="f ws-r ss-c ws-space2 ss-space10">
            <label ng-if="true" class="f vbot input-pholder flex1 mobile-select" ng-class="buyer ? 'not-empty' : ''">
              <select class="selectric citizenship" ng-model="buyer">
                <option></option>
                <option value="Georgia" data-flag="i/flag.png">Албания</option>
                <option value="Georgia" data-flag="i/greece.png">Грузия</option>
                <option value="Georgia" data-flag="i/flag.png">Россия</option>
                <option value="Georgia" data-flag="i/greece.png">Украина</option>
                <option value="Georgia" data-flag="i/flag.png">США</option>
                <option value="Georgia" data-flag="i/greece.png">Зимбабве</option>
              </select>
              <span class="pholder">Гражданство</span>
            </label>

            <label ng-if="true" class="f vbot input-pholder flex1 mobile-select" ng-class="buyer ? 'not-empty' : ''">
              <select class="selectric doctype" ng-model="buyer">
                <option value="Загранпаспорт гражданина РФ">Загранпаспорт гражданина РФ</option>
                <option value="Паспорт гражданина РФ">Паспорт гражданина РФ</option>
                <option value="Passport is not Russia">Passport is not Russia</option>
                <option value="Паспорт гражданина не РФ">Паспорт гражданина не РФ</option>
              </select>
              <span class="pholder">Документ</span>
            </label>
          </div>

          <div class="mt10 f ss-c ss-space10 ws-r ws-space2">
            <div class="f d space2 ws-flex1">
              <label ng-if="true" class="f vbot input-pholder" ng-class="buyer ? 'not-empty' : ''">
                <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholders='00'" ng-blur="placeholders=''" placeholder="{{placeholders}}">
                <span class="pholder">Серия</span>
              </label>
              <label ng-if="true" class="f vbot input-pholder flex1" ng-class="buyer ? 'not-empty' : ''">
                <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholdern='0000000'" ng-blur="placeholdern=''" placeholder="{{placeholdern}}">
                <span class="pholder">Номер</span>
              </label>
            </div>

            <label ng-if="true" class="f vbot input-pholder flex0050" ng-class="buyer ? 'not-empty' : ''">
              <input type="text" name="fio" class="flex1 fz15" ng-model="buyer" size="5" ng-focus="placeholder='ДД.ММ.ГГГГ'" ng-blur="placeholder=''" placeholder="{{placeholder}}">
              <span class="pholder">Срок действия</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div style="width:150px;" class="tac">
      <a ng-show="cur<passengers.length-1" ng-click="cur=cur+1;">
        <div><i class="fa fa-angle-right fz20"></i></div>
        <div ng-bind="passengers[cur+1].name">Взрослый 1</div>
      </a>
    </div>
  </div>
  <div class="mt10 f hcen">
    <input type="submit" value="Сохранить" class="blue-button">
  </div>
</script>

</body>
</html>