<div class="result">
  <div class="f d ticket" ng-class="{'like-mobile' : likeMobile, 'ticket-promo': promoTicket, 'ticket-grey' : ticketGrey}">
    <div class="flex1 f c">
      <div class="ticket-row-wrapper f c flex1 waythere">
        <div class="ticket-row-before"></div>
        <div class="f flex1 ticket-row">
          <div class="f ticket-ac-and-comfort">
            <div class="f hcen vcen ticket-aircompany">
              <div class="tac">
                <img src="i/nordstar.png">
                <div class="aircompany-name">NordStar Airlines</div>
              </div>
              <div class="blue mt5">Y7 1001</div>
            </div>
            <div class="f ticket-luggage grey" ng-if="!hideLuggage">
              <div class="f vcen space6 fz12"><div class="comfort-icon tooltip" title="Багаж 20 кг"><img src="i/Luggage.svg"></div> <span>20 кг</span></div>                    <div class="f vcen space6 fz12"><div class="comfort-icon tooltip" title="Ручная кладь 5 кг"><img src="i/carryon.svg"></div> <span>5 кг</span></div>                    <div class="f vcen space6 fz12"><div class="comfort-icon"><img src="i/class.svg"></div> <span>Эконом</span></div>
            </div>
          </div>
          <div class="ticket-data f c space10">
            <div class="ticket-cities"><span class="ttu blue">Москва</span> <span class="grey">(DME)</span> — <span class="ttu blue">Бургас</span> <span class="grey">(BOJ)</span></div>
            <div class="flex1 f d vcen space10 ticket-info">
              <div>
                <div class="fz41 fwl">13:00</div>
                <div>
                  <span class="ticket-invis">&nbsp;</span>
                  <div class="grey ticket-date there">02 апреля 2017</div>
                </div>
              </div>
              <div class="flex1 tac">
                <div>
                  Прямой
                </div>
                <div class="ticket-duration mt10 mb10"></div>
                <div class="grey">
                  03:30
                  в&nbsp;пути
                </div>
              </div>
              <div class="tar">
                <div class="fz41 fwl">16:30</div>
                <div>
                  <span class="ticket-invis">&nbsp;</span>
                  <div class="grey ticket-date back">02 апреля 2017</div>
                </div>
              </div>
            </div>
          </div>
          <div class="f ticket-days blue hcen vcen" ng-show="hideLuggage">
            <div class="tac">
              пн, ср, сб,<br>
              с 18.06 по 14.09
            </div>
          </div>
          <div class="padder20"></div>
        </div>
      </div>
      <div class="ticket-row-wrapper f c flex1 wayback" ng-hide="hideBack">
        <div class="ticket-row-before"></div>
        <div class="f flex1 ticket-row">
          <div class="f ticket-ac-and-comfort">
            <div class="f hcen vcen ticket-aircompany">
              <div class="tac">
                <img src="i/nordstar.png">
                <div class="aircompany-name">NordStar Airlines</div>
              </div>
              <div class="orange">Y7 1002</div>
            </div>
            <div class="f ticket-luggage grey">
              <div class="f around c ticket-luggage grey space10">
                <div class="f vcen space6 fz12"><div class="comfort-icon tooltip" title="Багаж 20 кг"><img src="i/Luggage.svg"></div> <span>20 кг</span></div>                      <div class="f vcen space6 fz12"><div class="comfort-icon tooltip" title="Ручная кладь 5 кг"><img src="i/carryon.svg"></div> <span>5 кг</span></div>                      <div class="f vcen space6 fz12"><div class="comfort-icon"><img src="i/class.svg"></div> <span>Эконом</span></div>
              </div>
            </div>
          </div>
          <div class="ticket-data f c space10">
            <div class="ticket-cities">
              <span class="ttu orange">Бургас</span> <span class="grey">(BOJ)</span>
              —
              <span class="ttu orange">Москва</span> <span class="grey">(DME)</span>
            </div>
            <div class="flex1 f d vcen space10 ticket-info">
              <div>
                <div class="fz41 fwl">15:10</div>
                <div>
                  <span class="ticket-invis">&nbsp;</span>
                  <div class="grey ticket-date there">09 апреля 2017</div>
                </div>
              </div>
              <div class="flex1 tac">


                <div class="f vcen hcen space6">
                  Прямой
                </div>
                <div class="ticket-duration mt10 mb10"></div>
                <div class="grey">
                  03:10
                  в&nbsp;пути
                </div>
              </div>
              <div class="tar">
                <div class="fz41 fwl">18:20</div>
                <div>
                  <span class="ticket-invis">&nbsp;</span>
                  <div class="grey ticket-date back">09 апреля 2017</div>
                </div>
              </div>
            </div>
          </div>
          <div class="padder20"></div>
        </div>
      </div>
    </div>
    <div class="ticket-price f hcen c space20" ng-show="showTicketInfo || promoTicket">
      <div class="">
        <div class="f c space10 vcen">

          <div class="f c space10 stretch" ng-click="hideInfant=!hideInfant">
            <div class="green-text f d space8 vbot">
              <span class="fz21 flex1 tar"><span ng-show="promoTicket" class="fz14">от</span> 13 555&nbsp;₽</span>
            </div>
          </div>
        </div>



      </div>
      <div class="tac mt10">
        <div class="grey fz12 lh1 tac mb10" ng-hide="promoTicket">Цена указана с&nbsp;учётом<br>всех сборов и&nbsp;комиссий</div>
        <div class="f"><input type="button" value="Купить" class="green-button flex1 ttu"></div>
        <span class="grey fz13">дешевый авиабилет</span>
      </div>
      <!--div>
        <div class="f"><input type="button" value="Поделиться" class="cancel-button flex1 fwn"></div>
      </div-->
    </div>
  </div>

  <div class="subscribe-popup-bg ng-hide" ng-show="showInfo" ng-click="showInfo=false"></div>
  <div class="cross-info f d fade popup-what ng-hide" ng-show="showInfo">
    <div class="close-popup" ng-click="showInfo=false"></div>

    <div class="cross-item flex1 p20 rounded5 c f d space6">
      <div class="fz15 tac">Пересадка: <span class="">Будапешт (BUD)</span></div>

      <div class="f d vcen space10">
        <div class="f c space10 crossing-cities">
          <div><span class="blue fz15">Москва</span> <span class="grey">SVO</span></div>
          <div class="grey fz12">Время в пути: 2 ч 15 мин</div>
          <div><span class="blue fz15">Будапешт</span> <span class="grey">MMO</span></div>
        </div>

        <div class="f c space10 crossing-times">
          <div><span class="fwb fz15">11:50</span> <span class="grey">ср</span></div>
          <div class="grey fz12">&nbsp;</div>
          <div><span class="fwb fz15">12:40</span> <span class="grey">пт</span></div>
        </div>

        <div class="tac flex1 cross-aircompany">
          <div><img src="/uploads/aircompany/nordstar.png"></div>
          <div>NordStar Airlines</div>
          <div class="blue">UTV234</div>
        </div>

      </div>
      <div class="crossing-duration">
        Длительность пересадки: 3 ч 34 мин
      </div>

      <div class="f d vcen space10">
        <div class="f c space10 crossing-cities">
          <div><span class="blue fz15">Будапешт</span> <span class="grey">BUD</span></div>
          <div class="grey fz12">Время в пути: 2 ч 15 мин</div>
          <div><span class="blue fz15">Берлин</span> <span class="grey">MMO</span></div>
        </div>

        <div class="f c space10 crossing-times">
          <div><span class="fwb fz15">11:50</span> <span class="grey">пн</span></div>
          <div class="grey fz12">&nbsp;</div>
          <div><span class="fwb fz15">12:40</span> <span class="grey">пт</span></div>
        </div>

        <div class="tac flex1 cross-aircompany">
          <div><img src="/uploads/aircompany/nordstar.png"></div>
          <div>NordStar Airlines</div>
          <div class="blue">UTV234</div>
        </div>

      </div>
    </div>

    <div class="cross-item cross-wayback flex1 p20 rounded5 c f d space10" ng-show="true">
      <div class="fz15 tac">Пересадка: <span class="ttu">Будапешт (BUD)</span></div>
      <div>
        <div>
          <div class="f d vcen space10">
            <div class="f c space10 crossing-cities">
              <div><span class="orange fz15">Москва</span> <span class="grey">SVO</span></div>
              <div class="grey fz12">Время в пути: 2 ч 15 мин</div>
              <div><span class="orange fz15">Барселона</span> <span class="grey">MMO</span></div>
            </div>

            <div class="f c space10 crossing-times">
              <div><span class="fwb fz15">11:50</span> <span class="grey">ср</span></div>
              <div class="grey fz12">&nbsp;</div>
              <div><span class="fwb fz15">12:40</span> <span class="grey">пт</span></div>
            </div>

            <div class="tac flex1 cross-aircompany">
              <div><img src="/uploads/aircompany/nordstar.png"></div>
              <div>NordStar Airlines</div>
              <div class="blue">UTV234</div>
            </div>
          </div>
        </div>
      </div>
      <div class="crossing-duration">
        <div class="lena2px">Длительность пересадки: 3 ч 34 мин</div>
      </div>
      <div>
        <div>
          <div class="f d vcen space10">
            <div class="f c space10 crossing-cities">
              <div><span class="orange fz15">Москва</span> <span class="grey">SVO</span></div>
              <div class="grey fz12">Время в пути: 2 ч 15 мин</div>
              <div><span class="orange fz15">Берлин</span> <span class="grey">MMO</span></div>
            </div>

            <div class="f c space10 crossing-times">
              <div><span class="fwb fz15">11:50</span> <span class="grey">пн</span></div>
              <div class="grey fz12">&nbsp;</div>
              <div><span class="fwb fz15">12:40</span> <span class="grey">пт</span></div>
            </div>

            <div class="tac flex1 cross-aircompany">
              <div><img src="/uploads/aircompany/nordstar.png"></div>
              <div>NordStar Airlines</div>
              <div class="orange">UTV234</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>